.customHistoryContainer {
    overflow: scroll;
    color: white;
    height: 100%;
    width: 100%;
    background: #1F5EF2;
    background: -webkit-linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    background: -o-linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    background: -moz-linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    background: linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    .stickerHistoryRow {
        background: white;
        color: #000;
        margin: 20px;
        border-radius: 4px;
    }
    .textCls {
        text-align: center;
        padding: 20px;
    }
    .statusSection[data-status="inProgress"] {
        background: url(images/progressStatus.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        background-position: center;
    }
    .statusSection[data-status="completed"] {
        background: url(images/successStatus.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        background-position: center;
    }
    .statusSection[data-status="failed"] {
        background: url(images/failedStatus.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        background-position: center;
    }
    .stickerHistoryRow div {}
    .custHistoryIcon {
        background-size: cover;
        vertical-align: middle;
        width: 32.5%;
        background-size: 100% 100%;
        height: 80px;
    }
    .contentSection,
    .statusSection {
        width: 32.5%;
        height: 80px;
    }
    .statusSection {}
    .customHistoryList {
        margin-bottom: 60px;
    }
    .createCutomSticker_history {
        border-top: 1px solid rgba(15, 14, 14, 0.32);
        padding: 15px 0;
        position: fixed;
        width: 100%;
        text-align: center;
        bottom: 0;
        font-size: 16px;
        color: #3a3737;
        line-height: 21px;
        font-weight: 400;
        z-index: 1008;
        background: #cababa;
    }
}