.exclusiveFeatureContainer {
    background-image: linear-gradient(44deg, #448CFA 0%, #8CC6FF 100%);
}

.exclusiveFeatureWrapper {}

.exclusiveFeatureHeader {
    padding-left: 28px;
    padding-right: 28px;
}

.exclusiveFeatureTitle {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 38px;
}

.exclusiveFeatureSubtitle {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 8px;
}

.exclusiveFeatureIllustration {
    background: url(images/earlyAccessSticker.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 201px;
    height: 201px;
    margin: 48px auto 24px auto;
    text-align: center;
}

.exclusiveFeatureDescription {
    color: rgba(255, 255, 255, 0.72);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 36px;
}

.exclusiveFeatureAction {
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.74);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin: 0px auto;
    background: #fff;
    border-radius: 4px;
    width: 20%;
}

span.retryButton {
    color: #FFF;
    text-decoration: underline;
}

.exclusiveFeatureRetry {
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.40);
}

.exclusiveFeatureImage {
    background: url(images/gifFeature.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 233px;
    height: 306px;
    margin: 0px auto;
}
