.ftueScreen {
    .title_subscribe {
        padding-bottom: 48px;
        padding-top: 48px;
    }
    height: 100%;
    .titleAnimFtueCls {
        @include animation(0s, 0.5s, titleAnimFtue);
    }
    .slideFromBottomCls2 {
        @include animation(0s, 0.8s, slideFromBottom2);
    }
    .fadeOutTranslateCls {
        @include animation(0s, 0.8s, fadeOutTranslate);
    }
    .fadeOutTranslateCls2 {
        @include animation(0s, 0.8s, fadeOutTranslate2);
    }
    .bottomSection {
        margin-top: 0%;
    }
    .infoRow {
        list-style: none;
        margin-bottom: 30px;
        padding-left: 28px;
        opacity: 0;
    }
    .row1 {
        @include animation(0.2s, 0.8s, inforRowAnim);
    }
    .row2 {
        @include animation(0.4s, 0.8s, inforRowAnim);
    }
    .row3 {
        @include animation(0.6s, 0.8s, inforRowAnim);
    }
    .ftueCta {
        opacity: 1;
        /*@include animation(1.7s, 1s, fadeInTranslate);*/
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        margin-top: 4%;
    }
    .giftIcon {
        //background: url(images/giftIcon.svg);
    }
    .statIcon {
        //background: url(images/statIcon.svg);
    }
    .surpriseGiftIcon {
        //background: url(images/surpriseGiftIcon.svg);
    }
    .moreIcon {
        //background: url(images/badgeIcon.png);
    }
    .infoIcon {
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        background-position: center;
        vertical-align: middle;
    }
    .infoDetails {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
    }
    .infoHeading {
        @include fontStyle(16px, 500, #3D475B, 21px);
        padding-bottom: 3px;
    }
    .infoSubHeading {
        @include fontStyle(12px, 400, rgba(61, 71, 91, 0.64), 16px);
    }
    .content {
        margin-top: -30px !important;
    }
}

@include keyframe(titleAnimFtue) {
    0% {
        -ms-transform: translate(0px, 70%);
        -webkit-transform: translate(0px, 70%);
        transform: translate(0px, 70%);
        opacity: 0;
    }
    100% {
        -ms-transform: translate(0px, 0%);
        -webkit-transform: translate(0px, 0%);
        transform: translate(0px, 0%);
        opacity: 1;
    }
}

@include keyframe(inforRowAnim) {
    0% {
        padding-top: 40%;
        opacity: 0
    }
    100% {
        padding-top: 0%;
        opacity: 1;
    }
}

@include keyframe(fadeInTranslate) {
    0% {
        -ms-transform: translate(0px, 10%);
        -webkit-transform: translate(0px, 10%);
        transform: translate(0px, 10%);
        opacity: 0;
    }
    100% {
        -ms-transform: translate(0px, 0%);
        -webkit-transform: translate(0px, 0%);
        transform: translate(0px, 0%);
        opacity: 1;
    }
}

@include keyframe(fadeOutTranslate) {
    0% {
        -ms-transform: translate(0px, 0%);
        -webkit-transform: translate(0px, 0%);
        transform: translate(0px, 0%);
        opacity: 1;
    }
    100% {
        -ms-transform: translate(0px, -50%);
        -webkit-transform: translate(0px, -50%);
        transform: translate(0px, -50%);
        opacity: 0;
    }
}

@include keyframe(fadeOutTranslate2) {
    0% {
        padding-top: 0;
        opacity: 1;
    }
    100% {
        padding-top: 30%;
        opacity: 0;
    }
}
