/* ALL MIXIN WITH EXAMPLES */


/* Media Query Mixin In With Example */


/* Example


.sidebar {
width: 60%;
float: left;
margin: 0 2% 0 0;
@include bp-small {
width: 100%;
float: none;
margin: 0;
}
}

*/

@mixin bp-large {
    @media only screen and (max-width: 60em) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (max-width: 40em) {
        @content;
    }
}

@mixin bp-small {
    @media only screen and (max-width: 30em) {
        @content;
    }
}


/*

ANIMATION MIXIN

@include keyframes(slide-down) {
0% { opacity: 1; }
90% { opacity: 0; }
}

.element {
width: 100px;
height: 100px;
background: black;
@include animation('slide-down 5s 3');
}

*/

@mixin keyframe($animation_name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

@mixin fontStyle($fontSize, $fontWeight, $color, $lineHeight) {
    font-size: $fontSize;
    color: $color;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin setGradient($stCol, $endCol) {
    background: $stCol;
    background: -webkit-linear-gradient(left top, $stCol, $endCol);
    background: -o-linear-gradient(bottom right, $stCol, $endCol);
    background: -moz-linear-gradient(bottom right, $stCol, $endCol);
    background: linear-gradient(to bottom right, $stCol, $endCol);
}

@mixin mysteryBoxStyling($spinnerDim) {
    .wheel:before {
        @if $spinnerDim==225px {
            border: 18px solid rgba(0, 0, 0, 0.1);
        }
        @if $spinnerDim==250px {
            border: 20px solid rgba(0, 0, 0, 0.1);
        }
        @if $spinnerDim==275px {
            border: 22px solid rgba(0, 0, 0, 0.1);
        }
        @if $spinnerDim==300px {
            border: 24px solid rgba(0, 0, 0, 0.1);
        }
    }
    .wheel-wrapper {
        height: $spinnerDim;
        width: $spinnerDim;
        margin: $spinnerDim/-2;
    }
    .wheel {
        height: $spinnerDim;
        width: $spinnerDim;
        margin: $spinnerDim/-2;
    }
    .wheel:after {
        height: $spinnerDim/4;
        width: $spinnerDim/4;
        margin: $spinnerDim/-8;
    }
    .wheel .cutter {
        clip: rect(0, $spinnerDim/2, $spinnerDim/2, 0);
    }
    .wheel .cutter .slicer {
        clip: rect(0, $spinnerDim/2, $spinnerDim/2, 0);
    }
}