/*   

1) max width 299
2) @media screen and (min-width: 300px) and (max-width: 320px) {
3) @media screen and (min-width: 320px) and (max-width: 340px) {
4) @media screen and (min-width: 340px) and (max-width: 360px) {
5) @media screen and (min-width: 380px) and (max-width: 380px) {
6) @media screen and (min-width: 380px) and (max-width: 400px) {
7) @media screen and (min-height: 506px) and (max-height: 512px) {
8) @media screen and (min-height: 441px) and (max-height: 505px) {

*/

$gap: 75px;
@media screen and (max-width: 299px) {
    /***** Ninja home Screen Screen *****/
    .profileContainer {
        padding: 28px 16px 0px 16px !important;
    }
    .streakValue {
        font-size: 44px!important;
    }
    .streakDef {
        font-size: 11px!important;
    }
    .streakStatus {
        margin-top: 4px!important;
        font-size: 9px!important;
    }
    .ninjaDp {
        width: 36px!important;
        height: 36px!important;
    }
    .ninjaBottomContainer {
        margin-top: 50px!important;
    }
    .unlockedRewardHeading {
        font-size: 11px!important;
    }
    ul.unlockedRewardList {
        margin: 10px 0px 28px 0px!important;
    }
    li.unlockedRewardListItem {
        width: 264px!important;
        height: 172px!important;
    }
    .unlockedRewardHeader {
        padding: 6px 22px 12px 6px!important;
    }
    .unlockedRewardDetails {
        padding: 0px 0px 14px 14px!important;
        width: 83%!important;
    }
    .uRewardHeading {
        font-size: 14px!important;
    }
    .uRewardSubheading {
        font-size: 12px!important;
    }
    .unlockedRewardAction {
        font-size: 11px!important;
    }
    .lockedRewardHeading {
        font-size: 11px!important;
    }
    .rewardRow {
        padding: 10px 10px!important;
    }
    .riContainer {
        padding: 6px!important;
    }
    .rewardIcon {
        width: 26px!important;
        height: 26px!important;
    }
    .rewardDetails {
        margin-left: 10px!important;
        width: 62%!important;
    }
    .lrewardHeading {
        font-size: 12px!important;
    }
    .lrewardSubheading {
        font-size: 12px!important;
    }
    .rewardStreakWrapper {
        padding: 14px 6px!important;
        line-height: 13px!important;
    }
    /***** Ninja home Screen Screen *****/
    /***** Subscribe Screen *****/
    .title_subscribe {
        font-size: 24px !important;
    }
    .subscribeScreen {
        .centreIcon {
            height: 144px !important;
        }
        .ninjaWave {
            height: 17.5% !important;
        }
        .info {
            font-size: 12px !important;
        }
        .subscribeCta {
            font-size: 12px !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
        .content {
            margin-top: -15px !important;
        }
        .infoRow {
            margin-bottom: 24px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
    /******************/
    .infoDetails {
        width: 299px - $gap;
    }
    @include mysteryBoxStyling(225px);
  
    .spinScrSubtitle {
        margin-top: 150px !important;
    }
    
    .mysteryBoxScr_subtitle {
        font-size: 12px !important;
    }
    .spin {
        font-size: 12px !important;
        top: 44% !important;
        left: 40% !important;
    }
    .ctaWinner {
        font-size: 12px !important;
    }
    .mysteryBoxRetryIcon {
        width: 140px !important;
        height: 130px !important;
        margin: 0px auto 50px auto !important;
    }
    .previousWinnerHeading {
        font-size: 12px !important;
        padding: 24px 24px !important;
    }
    .previousWinnerRow {
        padding-bottom: 24px !important;
    }
    .winnerName {
        font-size: 14px !important;
    }
    .winnerIcon {
        width: 60px !important;
        height: 60px !important;
    }
    .dayHeading {
        font-size: 22px !important;
    }
    .dayInformation {
        font-size: 14px !important;
    }
    .batteryStreakInfoContainer hr {
        margin-bottom: 48px !important;
        margin-top: 48px !important;
    }
    .batteryHeading {
        font-size: 22px !important;
    }
    .batteryInformation {
        font-size: 14px !important;
    }
    .informationAction {}
    .ninjaProfileBottomContainer {
        padding-top: 78px;
    }
    .comp__tabs .comp__tab,
    .comp__tabs .selected {
        font-size: 12px !important;
    }
    .sliderTabs {
        margin-top: 72px;
    }
    .redeemedRewardsContainer {}
    .redeemedRewardListContainer {}
    .redeemedRewardRow {
        padding: 10px 12px;
    }
    .rediContainer {
        padding: 6px;
    }
    .redeemedRewardIcon {
        width: 26px;
        height: 26px;
    }
    .redeemedRewardDetails {
        margin-left: 10px !important;
    }
    .rewardHeading {
        font-size: 12px !important;
    }
    .redeemedRewardSubheading {
        font-size: 12px !important;
    }
    .rewardStreakIcon {}
    .rewardStreakValue {}
    .ugcTypeIcon,
    .ugcHistoryIcon {
        width: 32px !important;
        height: 32px !important;
    }
    .ugcTypeRow {
        padding: 8px 18px !important;
    }
    .ugcTypeHeading,
    .ugchistoryHeading {
        font-size: 12px !important;
        width: 91% !important;
        line-height: 14px !important;
        margin-bottom: 2px !important;
    }
    .ugcTypeDetails,
    .ugcHistoryDetails {
        width: 80% !important;
        margin-left: 10px !important;
    }
    .ugcTypeSubheading,
    .ugcHistorySubheading {
        font-size: 10px !important;
    }
    .statsWrapper {
        padding: 24px 20px 0px 20px !important;
    }
    .statTypeContainer {
        margin-bottom: 24px !important;
    }
    .statBoxWrapper {
        padding: 10px 6px !important;
    }
    .statValue {
        font-size: 36px !important;
        margin-left: 6px !important;
    }
    .statText {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
    /***** Ninja home Screen Screen *****/
    .profileContainer {
        padding: 28px 16px 0px 16px !important;
    }
    .streakValue {
        font-size: 44px!important;
    }
    .streakDef {
        font-size: 11px!important;
    }
    .streakStatus {
        margin-top: 4px!important;
        font-size: 9px!important;
    }
    .ninjaDp {
        width: 36px!important;
        height: 36px!important;
    }
    .ninjaBottomContainer {
        margin-top: 50px!important;
    }
    .unlockedRewardHeading {
        font-size: 11px!important;
    }
    ul.unlockedRewardList {
        margin: 10px 0px 28px 0px!important;
    }
    li.unlockedRewardListItem {
        width: 280px !important;
        height: 182px !important;
    }
    .unlockedRewardHeader {
        padding: 6px 22px 12px 6px!important;
    }
    .unlockedRewardDetails {
        padding: 0px 0px 14px 14px!important;
        width: 83%!important;
    }
    .uRewardHeading {
        font-size: 14px!important;
    }
    .uRewardSubheading {
        font-size: 12px!important;
    }
    .unlockedRewardAction {
        font-size: 11px!important;
    }
    .lockedRewardHeading {
        font-size: 11px!important;
    }
    .rewardRow {
        padding: 10px 10px!important;
    }
    .riContainer {
        padding: 6px!important;
    }
    .rewardIcon {
        width: 26px!important;
        height: 26px!important;
    }
    .rewardDetails {
        margin-left: 10px!important;
        width: 62%!important;
    }
    .lrewardHeading {
        font-size: 12px!important;
    }
    .lrewardSubheading {
        font-size: 12px!important;
    }
    .rewardStreakWrapper {
        padding: 14px 6px!important;
        line-height: 13px!important;
    }
    /***** Ninja home Screen Screen *****/
    /***** Subscribe Screen *****/
    .title_subscribe {
        font-size: 24px !important;
    }
    .subscribeScreen {
        .centreIcon {
            height: 144px !important;
        }
        .ninjaWave {
            height: 17.5% !important;
        }
        .info {
            font-size: 12px !important;
        }
        .subscribeCta {
            font-size: 12px !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
        .content {
            margin-top: -15px !important;
        }
        .infoRow {
            margin-bottom: 24px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
    /******************/
    .infoDetails {
        width: 300px - $gap;
    }
    @include mysteryBoxStyling(225px);
    .spinScrSubtitle {
        margin-top: 150px !important;
    }
   

    .mysteryBoxScr_subtitle {
        font-size: 14px !important;
    }
    .ctaWinner {
        font-size: 14px !important;
    }
    .spin {
        left: 39% !important;
    }
    .mysteryBoxRetryIcon {
        width: 140px !important;
        height: 130px !important;
        margin: 25px auto 25px auto !important;
    }
    .previousWinnerHeading {
        font-size: 12px !important;
        padding: 24px 24px !important;
    }
    .previousWinnerRow {
        padding-bottom: 24px !important;
    }
    .winnerName {
        font-size: 14px !important;
    }
    .winnerIcon {
        width: 60px !important;
        height: 60px !important;
    }
    .dayHeading {
        font-size: 22px !important;
    }
    .dayInformation {
        font-size: 14px !important;
    }
    .batteryStreakInfoContainer hr {
        margin-bottom: 48px !important;
        margin-top: 48px !important;
    }
    .batteryHeading {
        font-size: 22px !important;
    }
    .batteryInformation {
        font-size: 14px !important;
    }
    .informationAction {}
    // Ninja Profile Screen Media
    .ninjaProfileBottomContainer {
        padding-top: 78px;
    }
    .comp__tabs .comp__tab,
    .comp__tabs .selected {
        font-size: 12px !important;
    }
    .sliderTabs {
        margin-top: 72px;
    }
    .redeemedRewardsContainer {}
    .redeemedRewardListContainer {}
    .redeemedRewardRow {
        padding: 10px 12px;
    }
    .rediContainer {
        padding: 6px;
    }
    .redeemedRewardIcon {
        width: 26px;
        height: 26px;
    }
    .redeemedRewardDetails {
        margin-left: 10px !important;
    }
    .rewardHeading {
        font-size: 12px !important;
    }
    .redeemedRewardSubheading {
        font-size: 12px !important;
    }
    .rewardStreakIcon {}
    .rewardStreakValue {}
    .ugcTypeIcon,
    .ugcHistoryIcon {
        width: 32px !important;
        height: 32px !important;
    }
    .ugcTypeRow {
        padding: 8px 18px !important;
    }
    .ugcTypeHeading,
    .ugchistoryHeading {
        font-size: 12px !important;
        width: 91% !important;
        line-height: 14px !important;
        margin-bottom: 2px !important;
    }
    .ugcTypeDetails,
    .ugcHistoryDetails {
        width: 80% !important;
        margin-left: 10px !important;
    }
    .ugcTypeSubheading,
    .ugcHistorySubheading {
        font-size: 10px !important;
    }
    .statsWrapper {
        padding: 24px 20px 0px 20px !important;
    }
    .statTypeContainer {
        margin-bottom: 24px !important;
    }
    .statBoxWrapper {
        padding: 10px 6px !important;
    }
    .statValue {
        font-size: 36px !important;
        margin-left: 6px !important;
    }
    .statText {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 340px) {
    /***** Ninja home Screen Screen *****/
    .profileContainer {
        padding: 30px 18px 0px 18px !important;
    }
    .streakValue {
        font-size: 45px!important;
    }
    .streakDef {
        font-size: 12px!important;
    }
    .streakStatus {
        margin-top: 5px!important;
        font-size: 10px!important;
    }
    .ninjaDp {
        width: 38px!important;
        height: 38px!important;
    }
    .ninjaBottomContainer {
        margin-top: 52px!important;
    }
    .unlockedRewardHeading {
        font-size: 12px!important;
    }
    ul.unlockedRewardList {
        margin: 12px 0px 30px 0px!important;
    }
    li.unlockedRewardListItem {
        width: 296px!important;
        height: 192px!important;
    }
    .unlockedRewardHeader {
        padding: 6px 22px 12px 6px!important;
    }
    .unlockedRewardDetails {
        padding: 0px 0px 16px 16px!important;
        width: 87%!important;
    }
    .uRewardHeading {
        font-size: 15px!important;
    }
    .uRewardSubheading {
        font-size: 13px!important;
    }
    .unlockedRewardAction {
        font-size: 12px!important;
    }
    .lockedRewardHeading {
        font-size: 12px!important;
    }
    .rewardRow {
        padding: 12px 12px!important;
    }
    .riContainer {
        padding: 8px!important;
    }
    .rewardIcon {
        width: 27px!important;
        height: 27px!important;
    }
    .rewardDetails {
        margin-left: 11px!important;
        width: 65%!important;
    }
    .lrewardHeading {
        font-size: 13px!important;
    }
    .lrewardSubheading {
        font-size: 13px!important;
    }
    .rewardStreakWrapper {
        padding: 16px 8px!important;
        line-height: 15px!important;
    }
    /***** Ninja home Screen Screen *****/
    /***** Subscribe Screen *****/
    .title_subscribe {
        font-size: 26px !important;
    }
    .subscribeScreen {
        .centreIcon {
            height: 144px !important;
        }
        .ninjaWave {
            /*height: 95px !important;*/
            height: 17.5% !important;
        }
        .info {
            font-size: 12px !important;
        }
        .subscribeCta {
            font-size: 12px !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
        .content {
            margin-top: -15px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
    /******************/
    .infoDetails {
        width: 320px - $gap;
    }
    @include mysteryBoxStyling(250px);
    .spinScrSubtitle {
        margin-top: 160px !important;
    }
  
   
    .mysteryBoxScr_subtitle {
        font-size: 14px !important;
    }
    .ctaWinner {
        font-size: 14px !important;
    }
    .spin {
        left: 40% !important;
    }
    .mysteryBoxRetryIcon {
        margin: 30px auto 30px auto !important;
    }
    .previousWinnerHeading {
        padding: 24px 24px !important;
    }
    .previousWinnerRow {
        padding-bottom: 24px !important;
    }
    .winnerIcon {
        width: 60px !important;
        height: 60px !important;
    }
    .dayHeading {
        font-size: 22px !important;
    }
    .dayInformation {
        font-size: 14px !important;
    }
    .batteryStreakInfoContainer hr {
        margin-bottom: 48px !important;
        margin-top: 48px !important;
    }
    .batteryHeading {
        font-size: 22px !important;
    }
    .batteryInformation {
        font-size: 14px !important;
    }
    .informationAction {}
    // Ninja Profile Screen Media
    .ninjaProfileBottomContainer {
        padding-top: 78px;
    }
    .comp__tabs .comp__tab,
    .comp__tabs .selected {
        font-size: 12px !important;
    }
    .sliderTabs {
        margin-top: 72px;
    }
    .redeemedRewardsContainer {}
    .redeemedRewardListContainer {}
    .redeemedRewardRow {
        padding: 10px 12px;
    }
    .rediContainer {
        padding: 6px;
    }
    .redeemedRewardIcon {
        width: 26px;
        height: 26px;
    }
    .redeemedRewardDetails {
        margin-left: 10px !important;
    }
    .rewardHeading {
        font-size: 12px !important;
    }
    .redeemedRewardSubheading {
        font-size: 12px !important;
    }
    .rewardStreakIcon {}
    .rewardStreakValue {}
    .ugcTypeIcon,
    .ugcHistoryIcon {
        width: 32px !important;
        height: 32px !important;
    }
    .ugcTypeRow {
        padding: 8px 18px !important;
    }
    .ugcTypeHeading,
    .ugchistoryHeading {
        font-size: 12px !important;
        width: 91% !important;
        line-height: 14px !important;
        margin-bottom: 2px !important;
    }
    .ugcTypeDetails,
    .ugcHistoryDetails {
        width: 80% !important;
        margin-left: 10px !important;
    }
    .ugcTypeSubheading,
    .ugcHistorySubheading {
        font-size: 10px !important;
    }
    .statsWrapper {
        padding: 24px 20px 0px 20px !important;
    }
    .statTypeContainer {
        margin-bottom: 24px !important;
    }
    .statBoxWrapper {
        padding: 10px 6px !important;
    }
    .statValue {
        font-size: 36px !important;
        margin-left: 6px !important;
    }
    .statText {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 341px) and (max-width: 360px) {
    /***** Subscribe Screen *****/
    .subscribeScreen {
        .ninjaWave {
            height: 17.5% !important;
        }
        .centreIcon {
            height: 152px !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
        .content {
            margin-top: -18px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
    /******************/
    .infoDetails {
        width: 340px - $gap;
    }
    @include mysteryBoxStyling(275px);
    .spinScrSubtitle {
            margin-top: 180px !important;
    }
   
   
    .mysteryBoxScr_subtitle {
        font-size: 14px !important;
    }
    .spin {
        left: 40% !important;
    }
    .mysteryBoxRetryIcon {
        margin: 35px auto 35px auto !important;
    }
    .previousWinnerHeading {
        padding: 24px 24px !important;
    }
    .winnerIcon {
        width: 65px !important;
        height: 65px !important;
    }
    .comp__tabs .comp__tab,
    .comp__tabs .selected {
        font-size: 12px !important;
    }
    .ugcTypeDetails,
    .ugcHistoryDetails {
        width: 80% !important;
    }
}

@media screen and (min-width: 361px) and (max-width: 380px) {
    /***** Subscribe Screen *****/
    .subscribeScreen {
        .ninjaWave {
            height: 19.5% !important;
        }
        .centreIcon {
            height: 152px !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
        .content {
            margin-top: -22px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
    /******************/
    .infoDetails {
        width: 360px - $gap;
    }
    @include mysteryBoxStyling(275px);
    .spinScrSubtitle {
            margin-top: 180px !important;
    }
   

    .mysteryBoxScr_subtitle {
        font-size: 14px !important;
    }
    .spin {
        left: 40% !important;
    }
}

@media screen and (min-width: 381px) and (max-width: 400px) {
    /***** Subscribe Screen *****/
    .subscribeScreen {
        .ninjaWave {
            height: 20% !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
    }
    /******************/
    .infoDetails {
        width: 380px - $gap;
    }
    @include mysteryBoxStyling(300px);
}

@media screen and (min-width: 401px) and (max-width: 420px) {
    .infoDetails {
        width: 400px - $gap;
    }
    .subscribeScreen {
        .ninjaWave {
            height: 20% !important;
        }
    }
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 110px !important;
        }
    }
    @include mysteryBoxStyling(300px);
}

@media screen and (min-width: 421px) {
    .infoDetails {
        width: 421px - $gap;
    }
    .subscribeScreen {
        .ninjaWave {
            height: 23% !important;
        }
    }
    @include mysteryBoxStyling(300px);
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 110px !important;
        }
        @include keyframe(slideFromBottom2) {
            0% {
                margin-top: 0%;
            }
            100% {
                margin-top: -40%;
            }
        }
    }
}

@media screen and (min-width: 450px) {
    .ftueScreen {
        .ninjaWave {
            height: 130px !important;
        }
    }
    .ninjaBottomContainer {
        .ninjaWave {
            height: 110px !important;
        }
    }
    .subscribeScreen {
        .ninjaWave {
            height: 25% !important;
        }
    }
}

@media screen and (min-width: 530px) {
    .ftueScreen {
        .ninjaWave {
            height: 150px !important;
        }
    }
}

@media screen and (min-height: 441px) and (max-height: 505px) {
    .subscribeScreen {
        .centreIcon {
            height: 130px !important;
        }
    }
    .ftueScreen {
        .ninjaWave {
            height: 89px !important;
        }
        .content {
            margin-top: -20px !important;
        }
        .infoRow {
            margin-bottom: 24px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
}

@media screen and (min-height: 506px) and (max-height: 512px) {
    /***** Subscribe Screen *****/
    .title_subscribe {
        font-size: 24px !important;
    }
    .subscribeScreen {
        .centreIcon {
            height: 150px !important;
        }
        .info {
            font-size: 12px !important;
        }
        .subscribeCta {
            font-size: 12px !important;
        }
    }
    /******************/
    /***** FTUE Screen *****/
    .ftueScreen {
        .ninjaWave {
            height: 100px !important;
        }
        .content {
            margin-top: -15px !important;
        }
        .infoRow {
            margin-bottom: 24px !important;
        }
        .infoHeading {
            font-size: 14px !important;
            line-height: 18px !important;
        }
        .infoSubHeading {
            font-size: 12px !important;
            line-height: 16px !important;
        }
        .ftueCta {
            font-size: 12px !important;
        }
    }
    /******************/
}
