.mysteryBoxContainer {
    height: 100%;
    width: 100%;
    background: rgba(74, 79, 147, 0.96);
    position: absolute;
    top: 0;
}

.wheel-wrapper {
    position: absolute;
    top: 52%;
    left: 50%;
}

.wheel-wrapper .needle {
    //background: url(images/needle.png);
    position: absolute;
    height: 50px;
    width: 27px;
    z-index: 4;
    left: 50%;
    margin: -30px -13px;
    border: 0 solid transparent;
}

.wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    -webkit-transition: -webkit-transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
    transition: -webkit-transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
    transition: transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
    transition: transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86), -webkit-transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
}

.wheel:before {
    content: '';
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 42%;
    left: 42%;
    margin: inherit;
    border-radius: inherit;
    pointer-events: none;
    -ms-transform: scale(0.93, 0.93);
    -webkit-transform: scale(0.93, 0.93);
    transform: scale(0.93, 0.93);
}

.wheel:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: inherit;
    left: inherit;
    border-radius: inherit;
    background: #FFFFFF;
    pointer-events: none;
}

.wheel .cutter {
    position: absolute;
    z-index: 0;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    margin: inherit;
    border-radius: inherit;
}

.wheel .cutter:nth-child(1) {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}

.wheel .cutter:nth-child(1) .slicer,
.wheel .cutter:nth-child(5) .slicer {
    @include setGradient(#00C3E2, #00C3E2);
}

.wheel .cutter:nth-child(2) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.wheel .cutter:nth-child(2) .slicer,
.wheel .cutter:nth-child(6) .slicer {
    @include setGradient(#FCC04D, #FCC04D);
}

.wheel .cutter:nth-child(3) {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
}

.wheel .cutter:nth-child(3) .slicer,
.wheel .cutter:nth-child(7) .slicer {
    @include setGradient(#7B67CF, #7B67CF);
}

.wheel .cutter:nth-child(4) {
    -webkit-transform: rotate3d(0, 0, 1, 135deg);
    transform: rotate3d(0, 0, 1, 135deg);
}

.wheel .cutter:nth-child(4) .slicer,
.wheel .cutter:nth-child(8) .slicer {
    @include setGradient(#FE626D, #FE626D);
}

.wheel .cutter:nth-child(5) {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
}

.wheel .cutter:nth-child(6) {
    -webkit-transform: rotate3d(0, 0, 1, 225deg);
    transform: rotate3d(0, 0, 1, 225deg);
}

.wheel .cutter:nth-child(7) {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
}

.wheel .cutter:nth-child(8) {
    -webkit-transform: rotate3d(0, 0, 1, 315deg);
    transform: rotate3d(0, 0, 1, 315deg);
}

.wheel .cutter .slicer {
    position: absolute;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    margin: inherit;
    border-radius: inherit;
    color: #000;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.wheel .cutter .part {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 66.66px;
    width: 78.5px;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 2.5em;
    border-radius: inherit;
    background-color: inherit;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate3d(0, 0, 1, -67.5deg) translate3d(-33.33px, 66.66px, 0);
    transform: rotate3d(0, 0, 1, -67.5deg) translate3d(-33.33px, 66.66px, 0);
}

.wheel .cutter .part div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wheel .cutter .part div:nth-child(1) {
    font-size: 20px;
}

.wheel .cutter .part div:nth-child(2) {
    font-size: 16px;
}

.wheel .cutter .part div:nth-child(3) {
    font-size: 12px;
}

.wheel .cutter .part div:nth-child(4) {
    font-size: 8px;
}

.wheel .cutter .part div:nth-child(5) {
    font-size: 6px;
}

.wheel .cutter .part div:nth-child(6) {
    font-size: 6px;
}

.wheel .cutter .part div:nth-child(7) {
    font-size: 6px;
}

.wheel .cutter .part div:nth-child(8) {
    font-size: 6px;
}

.spin {
    text-align: center;
    @include fontStyle(14PX, 500, #64615E, 10px);
    position: absolute;
    top: 45%;
    z-index: 1000;
    left: 41%;
    padding: 4%;
}

.mysteryBoxMessageSpin {
    color: rgba(61, 71, 91, 0.64);
    font-size: 14px;
    font-weight: 400;
    padding: 20px 24px 0px 24px;
    text-align: center;
    line-height: 21px;
}

.mysteryRewardBumperAction {
    margin-top: 24px;
    font-size: 15px;
    border: 1px solid #EAC6A4;
    color: #E49F5C;
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    padding: 12px 32px;
    text-transform: uppercase;
}

.mysteryRewardAction {
    margin-top: 24px;
    font-size: 15px;
    border: 1px solid #EAC6A4;
    color: #E49F5C;
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    padding: 12px 32px;
    text-transform: uppercase;
}

.mysteryBoxHistory {
    color: #1da8e8;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 12px;
    border-radius: 4px;
    text-align: center;
    line-height: 21px;
    margin: 16px auto 0px auto;
    text-transform: uppercase;
}

.mysteryBoxHistoryContainer {
    padding: 30px 0px 20px 30px;
}

.bumperRow {
    list-style: none;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.bumperRowIcon {
    background: url(images/giftSample.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
}

.bumperRowDetails {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
}

.bumperRowHeading {
    font-size: 16px;
    color: #3D475B;
    margin-bottom: 7px;
    font-weight: 500;
}

.bumperRowSubHeading {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.64);
    width: 120%;
}

.mBoxRewardIcon {
    background: url(images/mysteryReward.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
    margin: 50% 1px 1px 15px;
}

.mysteryBoxScr_title {
    @include fontStyle(22px, 400, #FFFFFF, 24px);
    text-align: center;
}

.spinScrTitle {
    position: absolute;
    margin-top: 40px;
    width: 100%;
}

.spinScrSubtitle {
    position: absolute;
    top: 50%;
    margin-top: 210px;
}

.mysteryBoxScr_subtitle {
    @include fontStyle(16px, 400, rgba(255, 255, 255, 0.80), 20px);
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
}

.ctaWinner {
    @include fontStyle(14px, 400, #ffffff, 21px);
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    z-index: 1000;
    margin-top: 18%;
    text-transform: uppercase;
}

.mysteryBoxIcon {
    background-image: url(images/mysteryBox_Gift.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 160px;
    margin: 72px auto 104px auto;
}

.congratsSubtitle {}

.mysteryBoxCongratsIcon {
    background-image: url(images/mysteryBox_Congrats.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 24px auto 24px auto;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    background-position: center;
}

.ctaCongrats {
    text-transform: uppercase;
    font-size: 14px;
    color: #515597;
    font-weight: 500;
    display: inline-block;
    padding: 14px 24px;
    border-radius: 4px;
    background: #fff;
    margin-top: 18%;
}

.mysteryBoxRetryIcon {
    background-image: url(images/mysteryBox_Retry.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 210px;
    height: 180px;
    margin: 68px auto 24px auto;
    text-align: center;
    opacity: 0;
    @include animation(0s, 0.5s, fadein);
}

.retryTitle {
    opacity: 0;
    @include animation(0.5s, 1s, fadein);
}

.retrySubtitle {
    opacity: 0;
    @include animation(0.8s, 1.2s, fadein);
}

.retryCta {
    opacity: 0;
    @include animation(1.5s, 0.5s, fadein);
}

.winnerWrapper {
    padding: 28px 0 0 0;
}

.previousWinnerRow {
    opacity: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    position: absolute;
    bottom: -230px;
    background: #fff;
    margin: 3%;
    width: 94%;
    border-radius: 4px;
    .previousWinnerHeading {
        @include fontStyle(12px, 400, rgba(30, 29, 58, 0.5), 14px);
        padding: 24px;
        text-align: center;
    }
    .rightWrapper {
        text-align: center;
        margin-top: 12px;
    }
    .winnerIcon {
        background: url(images/ninjaDefaultDp.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        display: inline-block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        vertical-align: middle;
        border: 4px solid #D5D8FF;
    }
    .streakIcon {
        float: none !important;
    }
    .winnerName {
        @include fontStyle(16px, 400, #1E1D3A, 21px);
        margin-bottom: 5px;
    }
}

.mysteryBox_CrossIcon {
    background: url(images/crossWhite.png);
    background-repeat: no-repeat;
    height: 16px;
    background-position: center;
    width: 16px;
    padding: 24px;
    float: right;
}

.giftBoxAnimCls {
    @include animation(0s, 0.7s, giftBoxAnim);
}

.congratsIconAnimCls {
    @include animation(0s, 1s, congratsIconAnim);
}

.slideUpCtaWinnerRowCls {
    @include animation(0s, 0.5s, slideUpWinnerRow);
}

.slideDownCtaWinnerRowCls {
    @include animation(0s, 0.5s, slideDownWinnerRow);
}

.mOverlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

@include keyframe(slideUpWinnerRow) {
    0% {
        bottom: -230px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@include keyframe(slideDownWinnerRow) {
    0% {
        bottom: 0%;
        opacity: 1;
    }
    100% {
        bottom: -230px;
        opacity: 0;
    }
}

@include keyframe(giftBoxAnim) {
    0% {
        opacity: 0;
    }
    45% {
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
        opacity: 1;
    }
    90% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
        opacity: 1;
    }
}

@include keyframe(congratsIconAnim) {
    45% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    90% {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
