.parentProfileContainer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.overScroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.profileScreenContainer {
    height: 100%;
    @include setGradient($stCol, $endCol);
}

.profileScreenWrapper {}

.ninjaProfileBottomContainer {
    height: 100%;
    padding-top: 88px;
    display: block;
}

.containerProfile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
}

.tab-activity {
    height: 600px !important;
}

.tab-rewards {
    height: 600px !important;
}

.tab-mysterybox {
    height: 500px !important;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
    max-height: auto;
    overflow: scroll;
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.view {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.details-view {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background: #fff;
}

.view-change .list-view {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.view-change .details-view {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    overflow-y: scroll;
}

.comp__tabs {
    box-sizing: border-box;
    padding: 0px 12px;
}

.comp__tabs .comp__tab {
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 6px 0px 4px 0px;
    width: 33.33%;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.64);
    float: left;
}

.comp__tabs .selected {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.comp__data {
    padding: 0px;
    margin-top: 5px;
    background: #fff;
}

#sliderTabs {
    margin-top: 92px;
}

.emptyBorderContainer {
    padding: 0px 12px;
}

.emptyBorder {
    border: 1px solid #fff;
    border-radius: 14px;
    width: 24px;
    -webkit-transition: margin 2s;
    transition: margin 0.5s;
    margin-left: 13.5%;
    display: inline-block;
}

.redeemedRewardListContainer {
    height: 100%;
}

.ugcHistoryIcon {
    //background: url(images/ugcHistory.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
}

.ugcTypeIcon {
    //background: url(images/ugcHistory.svg);
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
}

.ugcHistoryDetails {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    width: 84%;
}

.ugcTypeDetails {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    width: 84%;
}

.ugcHistorySubheading {
    font-size: 14px;
    font-weight: 400;
    color: rgba(61, 71, 91, 0.48);
    line-height: 18px;
}

.ugcTypeSubheading {
    font-size: 14px;
    font-weight: 400;
    color: rgba(61, 71, 91, 0.48);
    line-height: 18px;
}

.ugchistoryHeading {
    font-size: 14px;
    font-weight: 400;
    color: #3D475B;
    margin-bottom: 4px;
}

.ugcTypeHeading {
    font-size: 14px;
    font-weight: 400;
    color: #3D475B;
    margin-bottom: 4px;
}

.rediContainer {
    padding: 8px;
    display: inline-block;
}

.redeemedRewardIcon {
    //background: url(images/defaultRewardIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
}

.redeemedRewardDetails {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
    width: 65%;
}

.redeemedRewardSubheading {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.64);
    width: 95%;
    line-height: 14px;
}

.redeemedRewardRow {
    list-style: none;
    padding: 12px 12px;
    margin-bottom: 8px;
}

.ugcTypeRow {
    padding: 16px 18px;
    margin-bottom: 8px;
}

.emptyLine {
    background: #eee;
    width: 85%;
    position: absolute;
    right: 0px;
    height: 1px;
}

.redeemedRewardsContainer {
    margin-top: 16px;
}

.ugcTypesContainer {
    margin-top: 10px;
}

.ugcTypeList {}

.ugcListContainer {}

.mysteryBoxHistoryIcon {
    background: url(images/giftIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
