.homeScreenContainer {
    height: 100%;
    background: #1D47F5;
    background: -webkit-linear-gradient(left top, #1D47F5, #33FFE2);
    background: -o-linear-gradient(bottom left, #1D47F5, #33FFE2);
    background: -moz-linear-gradient(bottom left, #1D47F5, #33FFE2);
    background: linear-gradient(to bottom left, #1D47F5, #33FFE2);
}

.hideClass {
    display: none !important;
}

.rewardUnlockStreakIcon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.dayDef {
    font-size: 26px;
    color: #FFFFFF;
    line-height: 13px;
    font-weight: 300;
    margin-bottom: 18px;
    text-align: center;
    display: block;
}

.rewardUnlockStreakValue {
    font-weight: 500;
    font-size: 48px;
    color: #23D3DA;
    letter-spacing: 1.5px;
    display: inline-block;
    vertical-align: middle;
}

.rewardUnlockAnimation {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #1D47F5;
    z-index: 1000;
    background: -webkit-linear-gradient(left top, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: -o-linear-gradient(bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: -moz-linear-gradient(bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: linear-gradient(to bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
}

.streakValueContainer {
    text-align: center;
    width: 164px;
    margin: 0px auto;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px 0px #4CF3D5;
    border-radius: 100px;
    line-height: 72px;
    border: 4px solid #7CEDF2;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.streakContainer {
    float: left;
}

.streakIconInfo {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
}

.streakIcon {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.streakStatusContainer {
    display: inline-block;
    vertical-align: bottom;
}

.streakStatusContainerInfo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.streakValue {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    display: inline-flex;
    vertical-align: middle;
}

.streakValueInfo {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 400;
    display: inline-flex;
    vertical-align: middle;
}

.ninjaDp {
    background: url(images/ninjaDefaultDp.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

span.streakDef {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 13px;
    font-weight: 400;
    margin-left: 6px;
    vertical-align: middle;
}

span.streakDefInfo {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 13px;
    font-weight: 400;
    vertical-align: middle;
}

.streakStatus,
.streakStatusInfo {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 4px 6px;
    text-align: center;
    border-radius: 100px;
    display: block;
    margin-top: 4px;
}

.streakHealthy {
    background: #2BE6AB;
}

.streakDanger {
    background: #FF6D5C;
}

.ninjaHomeContainer {
    height: 100%;
}

.profileContainer {
    padding: 30px 15px 0px 15px;
}

.ninjaBottomContainer {
    height: 100%;
    margin-top: 70px;
    display: block;
}

.ninjaWave {
    background: url(images/ninjaWave.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 101%;
    height: 136px;
    margin-left: -2px;
}

.ninjaRewards {
    height: 100%;
    background-color: #FFF;
    margin-top: -20px;
    overflow: scroll;
}

.unlockedRewardHeading {
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    color: rgba(61, 71, 91, 0.48);
    text-transform: uppercase;
}

.lockedRewardHeading {
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    color: rgba(61, 71, 91, 0.48);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.lockedRewardListContainer {
    margin-left: 20px;
    margin-right: 12px;
    height: 100%;
}

.unlockedRewardIcon {
    background: url(images/defaultRewardIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.unlockedRewardStreak {
    @include fontStyle(14px, 500, #FFFFFF, 14px);
    float: right;
}

.unlockedRewardDetails {
    margin: 0px 0px 28px 15px;
}

.uRewardHeading {
    @include fontStyle(14px, 500, #FFFFFF, 17px);
    margin-bottom: 8px;
}

.uRewardSubheading {
    @include fontStyle(12px, 400, rgba(255, 255, 255, 0.70), 17px);
}

.unlockedRewardAction {
    @include fontStyle(12px, 400, #FFFFFF, 14px);
    text-transform: uppercase;
}

.unlockedRewardAction {
    margin-left: 15px;
}

li.unlockedRewardListItem:first-child {
    margin-left: 15px;
}

li.unlockedRewardListItem:nth-child(odd) {
    background: linear-gradient(44deg, #FA4454 0%, #F6876C 100%);
}

li.unlockedRewardListItem:nth-child(even) {
    background: linear-gradient(44deg, #3A7BD5 0%, #00D2FF 100%);
}

li.unlockedRewardListItem {
    width: 272px;
    height: 180px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 12px;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.unlockedRewardHeader {
    display: flex;
    justify-content: space-between;
    margin: 24px 15px 22px 20px;
}

.unlockedRewardListContainer {
    width: 100%;
}

.unlockedRewardList {
    overflow-x: scroll;
    margin: 12px 0px 32px 0px;
}

ul.unlockedRewardList {
    list-style: none;
    white-space: nowrap;
}

ul.unlockedRewardList > li.unlockedRewardListItem {
    display: inline-block;
}

.rewardRow {
    list-style: none;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.rewardIcon {
    background: url(images/defaultRewardIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
}

.rewardDetails {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
}

.rewardHeading {
    font-size: 14px;
    color: #3D475B;
    margin-bottom: 4px;
    font-weight: 500;
}

.rewardHeadingLocked {
    color: transparent !important;
    background: #acacac !important;
    height: 13px;
    opacity: 0.2;
    width: 62%;
}

.rewardSubheading {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.64);
    width: 120%;
}

.rewardSubheadingLocked {
    color: transparent !important;
    background: #acacac !important;
    height: 9px;
    opacity: 0.2;
}

.rewardStreakWrapper {
    display: inline-block;
    float: right;
    vertical-align: middle;
    line-height: 35px;
}

.rewardStreakIcon {
    background: url(images/rewardStreakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    display: inline-block;
    height: 12px;
}

.rewardStreakValue {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.72);
    font-weight: 400;
    display: inline-block;
}

.lockedRewards {
    height: 100%;
    overflow: scroll;
    -ms-transform: translate(0px, 0%);
    -webkit-transform: translate(0px, 0%);
    transform: translate(0px, 0%);
}

.batteryStreakInfoContainer {
    opacity: 1;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #1D47F5;
    background: -webkit-linear-gradient(left top, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: -o-linear-gradient(bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: -moz-linear-gradient(bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: linear-gradient(to bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
}

.batteryStreakInfoContainer hr {
    margin-top: 32px;
    margin-bottom: 32px;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.28);
}

.informationAction {
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
    font-weight: 500;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.42);
    display: inline-block;
    padding: 12px 18px;
    border-radius: 4px;
}

.dayHeading {
    @include fontStyle(18px, 500, #FFFFFF, 19px);
    margin: 30px 0px 12px 0px;
}

.dayInformation {
    @include fontStyle(16px, 400, rgba(255, 255, 255, 0.96), 20px);
}

.batteryIconContainer {
    margin-bottom: 24px;
}

.batteryIconFilled {
    background: url(images/batteryFtue.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    display: inline-block;
    margin-left: 4px;
}

.batteryIconEmpty {
    background: url(images/batteryEmpty.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    margin-left: 4px;
    display: inline-block;
}

.batteryHeading {
    @include fontStyle(18px, 500, #FFFFFF, 19px);
    margin-bottom: 12px;
}

.batteryInformation {
    @include fontStyle(16px, 400, rgba(255, 255, 255, 0.96), 20px);
    margin-bottom: 24px;
}

.streakInfoWrapper {
    padding: 0px 24px 0px 16px;
}

.batteryInfoWrapper {}

.streakInfoIcon {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-flex;
    vertical-align: middle;
}

.rewardUnlockContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.streakInfoValue {
    @include fontStyle(28px, 500, #FFFFFF, 32px);
    display: inline-flex;
    vertical-align: middle;
}

.newRewardAnimOpacity {
    @include animation(0.7s, 1s, ninjaNewRewardAnim);
}

.newRewardDayScale {
    @include animation(1.7s, 0.45s, dayScaleAnim);
}

.newRewardBgRemove {
    @include animation(0s, 0.7s, removeNewRewardUnlockBackground);
}

.newStreakAnimation {
    @include animation(0s, 0.7s, updateNewStreakAnimation);
}

.unlockedRewardListUl .newRewardAppearAnimation {
    @include animation(0s, 1s, rewardBoxAnim);
}

.moveLockedRewardsAnimation {
    @include animation(0s, 0.7s, moveLockedRewards);
}

.batteryStreakInfoAnim {
    @include animation(0s, 1s, infoPopupAnimation);
}

@include keyframe(infoPopupAnimation) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe(rewardBoxAnim) {
    0% {
        opacity: 0;
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@include keyframe(moveLockedRewards) {
    0% {
        -ms-transform: translate(0px, 0%);
        -webkit-transform: translate(0px, 0%);
        transform: translate(0px, 0%);
    }
    100% {
        -ms-transform: translate(0px, 38%);
        -webkit-transform: translate(0px, 38%);
        transform: translate(0px, 38%);
    }
}

@include keyframe(ninjaNewRewardAnim) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe(removeNewRewardUnlockBackground) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframe(updateNewStreakAnimation) {
    0% {
        opacity: 1;
        -ms-transform: scale(1) translate(-50%, -50%);
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    100% {
        opacity: 0;
        -ms-transform: scale(0) translate(-50%, -50%);
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        top: 0%;
        left: -15%;
    }
}

@include keyframe(dayScaleAnim) {
    0% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    70% {
        -ms-transform: scale(1.12);
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
        opacity: 0.7;
    }
    100% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.upcoming0card {
    background: rgba(61, 71, 91, 0.07) !important;
    border: 1px dashed rgba(0, 0, 0, 0.20) !important;
    border-radius: 2px !important;
}

.upcoming0card .unlockedRewardStreak {
    font-size: 12px;
    font-weight: 400;
    color: #3D475B;
}

.upcoming0card .unlockedRewardAction {
    font-size: 14px;
    font-weight: 400;
    color: #3D475B;
}

.upcoming0card .uRewardHeading {
    font-size: 14px;
    font-weight: 500;
    color: #3D475B;
}

.upcoming0card .uRewardSubheading {
    font-size: 12px;
    font-weight: 400;
    color: #3D475B;
}

.mysteryBoxAvailable {
    position: absolute;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.12);
    bottom: 0px;
    height: 60px;
    background: #FFF;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.mBoxToastIconContainer {
    position: relative;
}

.mysteryBoxToastIconBig {
    background: url(images/mBoxToastIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    position: absolute;
    opacity: 0.12;
    left: -46px;
    top: -12px;
}

.mysteryBoxToastIconSmall {
    background: url(images/mBoxToastIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    position: absolute;
    top: -12px;
    left: -46px;
}

.mysteryBoxToastText {
    font-size: 14px;
    color: #3d475b;
    font-weight: 400;
    display: inline-block;
    margin-left: 56px;
    line-height: 60px;
}

.mysteryBoxToastAction {
    display: inline-block;
    float: right;
    font-size: 12px;
    color: #448bf7;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 16px;
    line-height: 60px;
}


/*
















*/

.rewardsContainer {
    padding: 30px 0px 30px 20px;
}

.mysteryBoxIcon {
    background: url(images/mysteryBox_Gift.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 108px;
    height: 108px;
    margin: 0px auto 24px auto;
}

#clockdiv {
    color: #E49F5C;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    font-size: 29px;
    border: 1px solid #F0D6BD;
    box-shadow: 0px 1px 3px 0px #FFFFFF;
    border-radius: 10px;
    padding: 16px 21px;
}

#clockdiv > div {
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span {
    display: inline-block;
    margin: 0px 6px;
}

.smalltext {
    font-weight: 400;
    color: #3D475B;
    font-size: 12px;
    padding-top: 12px;
}

.mysteryBoxMessage {
    margin: 26px auto 0px auto;
    text-transform: uppercase;
    color: rgba(61, 71, 91, 0.64);
    font-size: 13px;
    font-weight: 400;
}

// Activity Tab Contianer Here
.activityContainer {
    //margin-top: 24px;
}

.seperator {
    background: rgba(0, 0, 0, 0.05);
    height: 1px;
    margin: 0px;
    border: none;
    padding: 0px;
}

.leaderboardWrapper {
    margin: 24px 0px 38px 24px;
}

.listRow {
    display: inline-block;
    float: left;
}

::-webkit-scrollbar {
    display: none;
}

.topList {
    width: 47em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.topNinjas {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.leaderboardHeading {
    color: rgba(61, 71, 91, 0.64);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.listRow {
    margin-right: 32px;
}

.userName {
    font-size: 12px;
    color: #3D475B;
    font-weight: 400;
    margin-top: 6px;
}

.userIcon {
    background: url(images/ninjaProfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.statTypeContainer {
    padding: 24px 24px 0 24px;
    overflow: hidden;
}

.statHeading {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.48);
    margin-bottom: 20px;
}

.statBoxWrapper {
    padding-left: 12px;
    width: 40%;
    display: inline-block;
    margin-bottom: 28px;
}

.statBoxFloatLeft {
    float: left;
}

.statBoxFloatRight {
    float: right;
}

.statValue {
    font-size: 32px;
    color: #3D475B;
    font-weight: 300;
    margin-bottom: 14px;
    display: inline-block;
    vertical-align: super;
}

.statValueLeft {
    background-image: linear-gradient(44deg, #FA4454 0%, #F6876C 100%);
    border-radius: 92px;
    width: 3px;
    height: 32px;
    display: inline-block;
}

.statValueRight {
    background-image: linear-gradient(44deg, #B52E84 0%, #7026FF 100%);
    border-radius: 92px;
    width: 3px;
    height: 32px;
    display: inline-block;
}

.settingsWrapper {
    margin-bottom: 14px;
    text-align: center;
}

.optionOne,
.optionTwo,
.optionThree {
    font-size: 12px;
    color: #3D475B;
    font-weight: 300;
    display: inline-block;
}

.twoSideMargin {
    margin-left: 8px;
    margin-right: 8px;
}

.selectedTime {
    background: #3D475B;
    color: #fff;
}

.statTimePeriod {
    display: inline-block;
    border: 1px solid #3D475B;
    border-radius: 20px;
    text-align: center;
    padding: 6px 14px;
    width: 20%;
}

.statText {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.48);
    margin-top: 4px;
}

.batteryCriticalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.batteryCriticalAnimation {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: #1D47F5;
    z-index: 1000;
    background: -webkit-linear-gradient(left top, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: -o-linear-gradient(bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: -moz-linear-gradient(bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
    background: linear-gradient(to bottom right, rgba(29, 71, 245, 0.92), rgba(51, 255, 226, 0.92));
}

.batteryDangerHeading {
    font-size: 32px;
    font-weight: 400;
    color: #FFF;
}

.batteryDangerAction {
    text-transform: uppercase;
    text-align: center;
    margin-top: 144px;
    font-size: 16px;
    color: #FFF;
}

.batteryDangerIcon {
    text-align: center;
    bottom: 0px;
    margin: 16px auto;
    left: 0px;
    right: 0px;
    display: block;
    width: 100px;
    height: 91px;
    background: url(images/lifeup_sequence.png) no-repeat;
    background-size: auto 91px;
    background-position: -1900px 0px;
}

.batteryAnimationActive {
    background-position: -1900px 0;
    transition: background 666ms steps(19);
    animation: fave-heart 666ms steps(19);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fave-heart {
    0% {
        background-position: -1900px 0
    }
    100% {
        background-position: 0px 0
    }
}

.batteryDangerDescription {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.batteryCritical_crossIcon {
    background: url(images/crossWhite.png);
    background-repeat: no-repeat;
    height: 16px;
    background-position: center;
    width: 16px;
    padding: 24px;
    float: right;
}

.ninjaDpContainer {
    position: relative;
    float: right;
    right: 12%;
}

.spinMysteryBoxBig {
    @include animation(0s, 4s, spinBig);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.spinMysteryBoxSmall {
    @include animation(0s, 4s, spinSmall);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-moz-keyframes spinBig {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinBig {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinBig {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinSmall {
    from {
        -moz-transform: rotate(0deg) scale(0.4);
    }
    to {
        -moz-transform: rotate(360deg) scale(0.4);
    }
}

@-webkit-keyframes spinSmall {
    from {
        -webkit-transform: rotate(0deg) scale(0.4);
    }
    to {
        -webkit-transform: rotate(360deg) scale(0.4);
    }
}

@keyframes spinSmall {
    from {
        transform: rotate(0deg) scale(0.4);
    }
    to {
        transform: rotate(360deg) scale(0.4);
    }
}

hr.infoSep {}

.emptyStateLockedRewards {
    color: rgba(0, 0, 0, 0.60);
}

.emptyStateUnlockedRewards {
    color: rgba(0, 0, 0, 0.60);
}
