.homeScreenContainer {
    height: 100%;
    overflow: scroll;
    @include setGradient($stCol, $endCol);
}

.homeScreenParentContainer {
    height: 100%;
    overflow: scroll;
}

.hideClass {
    display: none !important;
}

.rewardUnlockStreakIcon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.dayDef {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
    display: block;
}

.rewardUnlockStreakValue {
    font-weight: 400;
    font-size: 48px;
    color: #23d3da;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.rewardUnlockAnimation {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(74, 79, 147, 0.96);
    z-index: 1000;
}

.streakValueContainer {
    text-align: center;
    width: 154px;
    margin: 0px auto;
    height: 72px;
    background: #FFFFFF;
    border-radius: 100px;
    line-height: 72px;
    border: 2px solid #7CEDF2;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    box-shadow: 0px 0px 44px 0px #4CF3D5;
}

.streakContainer {
    float: left;
}

.streakIconInfo {}

.streakIcon {
    display: inline-block;
    vertical-align: middle;
}

.streakStatusContainer {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
}

.streakStatusContainerInfo {
    display: inline-block;
    float: right;
}

.streakIconInfo {
    display: inline-block;
    vertical-align: middle;
}

.streakValue {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 300;
    display: inline-flex;
}

.streakValueInfo {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

.ninjaDpParent {
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    border-radius: 50%;
}

.ninjaDp {
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    padding: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

span.streakDef {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 12px;
    font-weight: 500;
    margin-left: 4px;
    vertical-align: middle;
}

span.streakDefInfo {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 13px;
    font-weight: 400;
    vertical-align: middle;
}

.streakStatus,
.streakStatusInfo {
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px 2px 8px;
    text-align: center;
    border-radius: 4px;
    display: block;
    margin-top: 8px;
}

.streakHealthy {
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.streakDanger {
    border: 1px solid #FF6D5C;
    background: #FF6D5C;
}

.ninjaHomeContainer {}

.profileContainer {
    padding: 32px 16px 0px 16px;
}

.ninjaBottomContainer {
    margin-top: 18px;
    display: block;
}

.ninjaWave {
    background: url(images/ninjaWave.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.ninjaRewards {
    background-color: #FFF;
    margin-top: -25px;
}

.unlockedRewardHeading {
    display: inline-block;
    margin-left: 16px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(61, 71, 91, 0.48);
    text-transform: uppercase;
}

.lockedRewardHeading {
    display: inline-block;
    margin-left: 16px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(61, 71, 91, 0.48);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.lockedRewards {
    height: 1000px;
}

.mBoxPadding {
    padding-bottom: 70px;
}

.unlockedRewardIcon {
    //background: url(images/defaultRewardIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.uStreakIconContainer {
    line-height: 46px;
}

.unlockedRewardStreakIcon {
    display: inline-block;
    vertical-align: middle;
}

.unlockedRewardStreak {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.72);
    line-height: 14px;
    font-weight: 400;
    display: inline-block;
}

.unlockedRewardDetails {
    padding: 0px 0px 16px 16px;
    width: 87%;
    min-height: 100px;
    overflow: hidden;
}

.uRewardHeading {
    @include fontStyle(16px, 400, #FFFFFF, 18px);
    margin-bottom: 4px;
}

.uRewardSubheading {
    @include fontStyle(14px, 400, rgba(255, 255, 255, 0.70), 18px);
    white-space: initial;
    word-break: break-word;
}

.unlockedRewardAction {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

li.unlockedRewardListItem:first-child {
    margin-left: 16px;
}

li.unlockedRewardListItem:nth-child(4n-3) {
    /* Rectangle Copy 2: */
    background: #FE626D;
}

li.unlockedRewardListItem:nth-child(4n-2) {
    background: #7B67CF !important;
}

li.unlockedRewardListItem:nth-child(4n-1) {
    background: #FCC04D !important;
}

li.unlockedRewardListItem:nth-child(4n) {
    background: #00C3E2 !important;
}

li.unlockedRewardListItem {
    width: 296px;
    height: 192px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 12px;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.unlockedRewardHeader {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 14px 8px;
}

.uhContainer {
    padding: 8px;
}

.unlockedRewardListContainer {
    width: 100%;
}

.unlockedRewardList {
    overflow-x: scroll;
    margin: 12px 0px 32px 0px;
}

ul.unlockedRewardList {
    list-style: none;
    white-space: nowrap;
}

ul.unlockedRewardList > li.unlockedRewardListItem {
    display: inline-block;
}

.rewardRow {
    list-style: none;
    padding: 12px 12px;
}

.riContainer {
    padding: 8px;
    display: inline-block;
}

.rewardIcon {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
}

.rewardDetails {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
    width: 62%;
}

.lrewardHeading,
.rewardHeading {
    font-size: 14px;
    color: #3D475B;
    margin-bottom: 4px;
    font-weight: 400;
    display: inline-block;
}

.rewardHeadingLocked {
    color: transparent !important;
    background: #acacac !important;
    height: 13px;
    opacity: 0.2;
    width: 62%;
}

.lrewardSubheading,
.rewardSubheading {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.48);
    white-space: initial;
    word-break: break-word;
    line-height: 18px;
}

.rewardSubheadingLocked {
    color: transparent !important;
    background: #acacac !important;
    height: 9px;
    opacity: 0.2;
}

.rewardStreakWrapper {
    display: inline-block;
    line-height: 10px;
    float: right;
    padding: 16px 8px;
}

.rewardStreakIcon {
    display: inline-block;
    vertical-align: middle;
}

.lrewardStreakIcon {
    display: inline-block;
    vertical-align: middle;
}

.rewardStreakValue,
.lrewardStreakValue {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.72);
    font-weight: 400;
    display: inline-block;
}

.lockedRewards {
    -ms-transform: translate(0px, 0%);
    -webkit-transform: translate(0px, 0%);
    transform: translate(0px, 0%);
}

.batteryStreakInfoContainer {
    opacity: 1;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(74, 79, 147, 0.96);
}

.batteryStreakInfoContainer hr {
    margin-top: 52px;
    margin-bottom: 52px;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.28);
}

.informationAction {
    text-transform: uppercase;
    font-size: 14px;
    color: #396BE1;
    font-weight: 500;
    float: right;
    display: inline-block;
    padding: 14px 26px;
    border-radius: 4px;
    background: #fff;
    margin-top: 52px;
}

.dayHeading {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 24px;
    display: inline-block;
}

.dayInformation {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.96);
    line-height: 20px;
    font-weight: 300;
}

.batteryIconContainer {
    display: inline-block;
    float: right;
    line-height: 30px;
}

.batteryIconFilled {
    background: url(images/batteryFtue.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    display: inline-block;
    margin-left: 4px;
}

.batteryIconEmpty {
    background: url(images/batteryEmpty.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    margin-left: 4px;
    display: inline-block;
}

.batteryHeading {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 24px;
    display: inline-block;
}

.batteryInformation {
    @include fontStyle(16px, 300, rgba(255, 255, 255, 1), 20px);
    float: left
}

.streakInfoWrapper {
    padding: 0px 24px 0px 16px;
}

.batteryInfoWrapper {}

.streakInfoIcon {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-flex;
    vertical-align: middle;
}

.rewardUnlockContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.streakInfoValue {
    @include fontStyle(28px, 500, #FFFFFF, 32px);
    display: inline-flex;
    vertical-align: middle;
}

.newRewardAnimOpacity {
    @include animation(0.7s, 1s, ninjaNewRewardAnim);
}

.newRewardDayScale {
    @include animation(1.7s, 0.45s, dayScaleAnim);
}

.newRewardBgRemove {
    @include animation(0s, 0.7s, removeNewRewardUnlockBackground);
}

.newStreakAnimation {
    @include animation(0s, 0.4s, updateNewStreakAnimation);
}

.unlockedRewardListUl .newRewardAppearAnimation {
    @include animation(0s, 0.5s, rewardBoxAnim);
}

.moveLockedRewardsAnimation {
    @include animation(0s, 0.7s, moveLockedRewards);
}

.batteryStreakInfoAnim {
    @include animation(0s, 1s, infoPopupAnimation);
}

@include keyframe(infoPopupAnimation) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe(rewardBoxAnim) {
    0% {
        opacity: 0;
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@include keyframe(moveLockedRewards) {
    0% {
        -ms-transform: translate(0px, 0%);
        -webkit-transform: translate(0px, 0%);
        transform: translate(0px, 0%);
    }
    100% {
        -ms-transform: translate(0px, 200px);
        -webkit-transform: translate(0px, 200px);
        transform: translate(0px, 200px);
    }
}

@include keyframe(ninjaNewRewardAnim) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe(removeNewRewardUnlockBackground) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframe(updateNewStreakAnimation) {
    0% {
        opacity: 1;
        -ms-transform: scale(1) translate(-50%, -50%);
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    100% {
        opacity: 0;
        -ms-transform: scale(0) translate(-50%, -50%);
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        top: 0%;
        left: -15%;
    }
}

@include keyframe(dayScaleAnim) {
    0% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    70% {
        -ms-transform: scale(1.12);
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
        opacity: 0.7;
    }
    100% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.upcoming0card {
    background: #F3F8FF !important;
    border: 1px dashed #CBD9EE !important;
    border-radius: 4px;
}

.unlockedRewardStreakIcon svg {
    fill: #444;
}

.upcoming0card .unlockedRewardStreakIcon {
    display: inline-block !important;
    vertical-align: sub !important;
}

.upcoming0card .unlockedRewardStreak {
    font-size: 12px;
    font-weight: 400;
    color: #3D475B;
}

.upcoming0card .unlockedRewardAction {
    font-size: 12px;
    color: #798BB0;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.upcoming0card .uRewardHeading {
    font-size: 16px;
    color: #444444;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 4px;
}

.upcoming0card .uRewardSubheading {
    font-size: 14px;
    color: rgba(68, 68, 68, 0.7);
    line-height: 18px;
    font-weight: 400;
    white-space: initial;
    word-break: break-word;
}

.mysteryBoxAvailable {
    position: absolute;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.12);
    bottom: 0px;
    height: 60px;
    background: #FFF;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.mBoxToastIconContainer {
    position: relative;
}

.mysteryBoxToastIconBig {
    background: url(images/mBoxToastIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    position: absolute;
    opacity: 0.12;
    left: -46px;
    top: -12px;
}

.mysteryBoxToastIconSmall {
    background: url(images/mBoxToastIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    position: absolute;
    top: -12px;
    left: -46px;
}

.mysteryBoxToastText {
    font-size: 14px;
    color: #3d475b;
    font-weight: 400;
    display: inline-block;
    margin-left: 56px;
    line-height: 60px;
}

.mysteryBoxToastAction {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #448bf7;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 16px;
    line-height: 60px;
}


/*
















*/

.rewardsContainer {
    padding: 30px 0px 30px 20px;
}

.mysteryBoxIcon {
    background: url(images/mysteryBox_Gift.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 108px;
    height: 108px;
    margin: 0px auto 24px auto;
}

.mysteryBoxMessage {
    margin: 26px auto 0px auto;
    text-transform: uppercase;
    color: rgba(61, 71, 91, 0.64);
    font-size: 13px;
    font-weight: 400;
}

// Activity Tab Contianer Here
.activityContainer {
    //margin-top: 24px;
}

.seperator {
    background: rgba(0, 0, 0, 0.05);
    height: 1px;
    margin: 0px;
    border: none;
    padding: 0px;
}

.leaderboardWrapper {
    margin: 24px 0px 38px 24px;
}

.listRow {
    display: inline-block;
    float: left;
}

::-webkit-scrollbar {
    display: none;
}

.topList {
    width: 47em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.topNinjas {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.leaderboardHeading {
    color: rgba(61, 71, 91, 0.64);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.listRow {
    margin-right: 32px;
}

.userName {
    font-size: 12px;
    color: #3D475B;
    font-weight: 400;
    margin-top: 6px;
}

.userIcon {
    background: url(images/ninjaProfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.statsWrapper {
    padding: 16px 24px 0px 24px;
}

.statTypeContainer {
    overflow: hidden;
    margin-bottom: 24px;
}

.statHeading {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.48);
    margin-bottom: 20px;
}

.statBoxWrapper {
    width: 40%;
    display: inline-block;
    padding: 12px 8px;
}

.statBoxFloatLeft {
    float: left;
}

.statBoxFloatRight {
    float: right;
}

.barColorChatTheme {
    opacity: 0.72;
    background-image: linear-gradient(44deg, #FA4454 0%, #F6876C 100%);
}

.barColorFiles {
    background-image: linear-gradient(44deg, #2BE7A9 0%, #1DA8E8 100%);
}

.barColorMessages {
    opacity: 0.72;
    background-image: linear-gradient(44deg, #FA4454 0%, #F6876C 100%);
}

.barColorStickers {
    opacity: 0.72;
    background-image: linear-gradient(44deg, #B52E84 0%, #7026FF 100%);
}

.barColorStatus {
    opacity: 0.72;
    background-image: linear-gradient(44deg, #B52E84 0%, #7026FF 100%);
}

.statValue {
    font-size: 40px;
    color: rgba(33, 62, 112, 0.72);
    font-weight: 600;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 8px;
}

.statValueLeft {
    border-radius: 97px;
    width: 2px;
    height: 28px;
    display: inline-block;
}

.statValueRight {
    border-radius: 97px;
    width: 2px;
    height: 28px;
    display: inline-block;
}

.settingsWrapper {
    margin-bottom: 14px;
    text-align: center;
}

.optionOne,
.optionTwo,
.optionThree {
    font-size: 12px;
    color: #3D475B;
    font-weight: 300;
    display: inline-block;
}

.twoSideMargin {
    margin-left: 8px;
    margin-right: 8px;
}

.selectedTime {
    background: #3D475B;
    color: #fff;
}

.statTimePeriod {
    display: inline-block;
    border: 1px solid #3D475B;
    border-radius: 20px;
    text-align: center;
    padding: 6px 14px;
    width: 20%;
}

.statText {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.60);
    font-weight: 400;
    margin-bottom: 8px;
}

.batteryCriticalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.batteryCriticalAnimation {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(74, 79, 147, 0.96);
}

.batteryDangerHeading {
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
    margin: 24px 0px 14px 0px;
}

.batteryDangerAction {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
    display: inline-block;
    padding: 12px 0px;
    bottom: 40px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.batteryDangerIcon {
    text-align: center;
    bottom: 0px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    display: block;
    width: 100px;
    height: 91px;
    background: url(images/lifeup_sequence.png) no-repeat;
    background-size: auto 91px;
    background-position: -1900px 0px;
}

.batteryAnimationActive {
    background-position: -1900px 0;
    transition: background 666ms steps(19);
    animation: fave-heart 666ms steps(19);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fave-heart {
    0% {
        background-position: -1900px 0
    }
    100% {
        background-position: 0px 0
    }
}

.batteryDangerDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.80);
}

.batteryCritical_crossIcon {
    background: url(images/crossWhite.png);
    background-repeat: no-repeat;
    height: 16px;
    background-position: center;
    width: 16px;
    padding: 24px;
    float: right;
}

.ninjaDpContainer {
    position: relative;
    float: right;
    //margin-top: 2px;
}

.spinMysteryBoxBig {
    @include animation(0s, 4s, spinBig);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.spinMysteryBoxSmall {
    @include animation(0s, 4s, spinSmall);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-moz-keyframes spinBig {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinBig {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinBig {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinSmall {
    from {
        -moz-transform: rotate(0deg) scale(0.4);
    }
    to {
        -moz-transform: rotate(360deg) scale(0.4);
    }
}

@-webkit-keyframes spinSmall {
    from {
        -webkit-transform: rotate(0deg) scale(0.4);
    }
    to {
        -webkit-transform: rotate(360deg) scale(0.4);
    }
}

@keyframes spinSmall {
    from {
        transform: rotate(0deg) scale(0.4);
    }
    to {
        transform: rotate(360deg) scale(0.4);
    }
}

hr.infoSep {}

.emptyStateLockedRewards {
    color: rgba(0, 0, 0, 0.2);
    padding: 32px 0px 18px 16px;
}

.emptyStateUnlockedRewards {
    color: rgba(0, 0, 0, 0.2);
    padding: 32px 0px 18px 16px;
}
