.upgradeContainer {
    opacity: 0.95;
    background: #4A4F93;
}

.upgradeWrapper {
    padding: 0px 32px;
}

.upgradeTitle {
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 48px;
}

.upgradeIconContainer {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.upgradeIcon {
    background: url(images/upgradeIllustration.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.upgradeSubtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 19px;
    font-weight: 400;
    margin: 28px 0px 46px 0px;
    padding: 0px 32px;
}

.upgradeAction {
    color: #4A4F93;
    font-weight: 500;
    background: #fff;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 12px 34px;
    display: inline-block;
}


/* No Internet and Block Screen */

#nointernet.no-internet-msg {
    display: table-cell;
    vertical-align: middle;
}

#nointernet {
    opacity: 0.95;
    background: #4A4F93;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 300;
    display: none;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    z-index: 101;
}

.noInternetWrapper {
    padding: 0px 32px;
}

.noInternetTitle {
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 48px;
}

.noInternetIconContainer {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.noInternetIcon {
    background: url(images/noInternetIllustration.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.noInternetSubtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 19px;
    font-weight: 400;
    margin: 28px 0px 46px 0px;
    padding: 0px 32px;
}

.noInternetAction {
    color: #4A4F93;
    font-weight: 500;
    background: #fff;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 12px 34px;
    display: inline-block;
}

// block Screen
#blockScreen.block-msg {
    display: table-cell;
    vertical-align: middle;
}

#blockScreen {
    opacity: 0.95;
    background: #4A4F93;
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    z-index: 101;
}

.blockWrapper {
    padding: 0px 32px;
}

.blockTitle {
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 48px;
}

.blockIconContainer {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.blockIcon {
    background: url(images/blockIllustration.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.blockSubtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 19px;
    font-weight: 400;
    margin: 28px 0px 46px 0px;
    padding: 0px 32px;
}

.blockAction {
    color: #4A4F93;
    font-weight: 500;
    background: #fff;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 12px 34px;
    display: inline-block;
}

.userStateContainer {
    background: rgba(74, 79, 147, 0.96);
}

.stateTitle {
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
}

.stateCta {
    text-transform: uppercase;
    font-size: 14px;
    color: #4A4F93;
    background: #fff;
    margin-top: 78px;
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    padding: 14px 28px;
}

.stateIcon {
    text-align: center;
    bottom: 0px;
    margin: 78px auto 48px auto;
    left: 0px;
    right: 0px;
    display: block;
    width: 140px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.stateSubtitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
    line-height: 20px;
    padding: 0px 32px;
}
