.workspaceContainer {
    background: #1D47F5;
    background: -webkit-linear-gradient(left top, #1D47F5, #33FFE2);
    background: -o-linear-gradient(bottom right, #1D47F5, #33FFE2);
    background: -moz-linear-gradient(bottom right, #1D47F5, #33FFE2);
    background: linear-gradient(to bottom right, #1D47F5, #33FFE2);
    height: 100%;
    width: 100%;
    .subscribeScreen {
        height: 100%;
        .bottomSection {
            margin-top: 100%;
        }
        .title_subscribe {
            opacity: 0;
            @include animation(0s, 1.7s, fadein);
        }
        .subtitle_subscribe {
            opacity: 0;
            @include animation(0s, 1.7s, fadein);
        }
    }
    .crossIcon {
        background-size: 16px 16px;
        padding: 24px;
        background-image: url(images/cross.png);
        background-position: center;
        float: right;
    }
    .title_subscribe {
        padding-top: 80px;
        @include fontStyle(28px, 300, #FFFFFF, 34px);
        text-align: center;
    }
    .subtitle_subscribe {
        @include fontStyle(16px, 400, rgba(255, 255, 255, 0.64), 20px);
        text-align: center;
        padding-top: 8px;
    }
    .scaleZeroToOneAnim {
        @include animation(0s, 1.5s, scaleZeroToOne);
    }
    .centreIcon {
        height: 163px;
        margin-top: 46px;
        background-image: url(images/ninjaSubscribe.png);
        background-size: 114px 163px;
        background-position: center;
    }
    .info {
        @include fontStyle(14px, 400, rgba(61, 71, 91, 0.64), 18px);
        text-align: center;
        max-width: 80%;
        margin-left: 10%;
    }
    .subscribeCta {
        @include fontStyle(14px, 500, #17B197, 20px);
        text-align: center;
        margin-top: 48px;
        /*transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
        bottom: 45px;*/
    }
    .bottomSection {
        height: 100%;
        .ninjaWave {
            background-image: url(images/ninjaWave.png);
            height: 136px;
            background-size: cover;
            background-position: bottom;
        }
        .content {
            background-color: #ffffff;
            height: 100%;
            margin-top: -2px;
        }
    }
}

.slideFromBottomCls {
    @include animation(0.4s, 0.7s, slideFromBottom);
}

@include keyframe(slideFromBottom) {
    0% {
        margin-top: 100%;
    }
    100% {
        margin-top: 0;
    }
}

@include keyframe(scaleZeroToOne) {
    0% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}