.workspaceContainer {
    background: #1D47F5;
    background: -webkit-linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    background: -o-linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    background: -moz-linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    background: linear-gradient(-180deg, #1F5EF2 12%, #33FFE2 100%);
    height: 100%;
    width: 100%;
    /*padding-top: 54px;*/
    .subscribeScreen {
        padding-top: 50px;
        height: 100%;
        .bottomSection {
            margin-top: 100%;
        }
        .title_subscribe {
            opacity: 0;
            @include animation(0s, 1.7s, fadein);
        }
    }
    .title_subscribe {
        /*padding-top: 80px;*/
        padding: 32px;
        @include fontStyle(28px, 300, #FFFFFF, 34px);
        text-align: center;
    }
    .scaleZeroToOneAnim {
        @include animation(0s, 1.5s, scaleZeroToOne);
    }
    .centreIcon {
        height: 163px;
        background-image: url(images/ninjaSubscribe.png);
        background-size: contain;
        background-position: center;
    }
    .info {
        @include fontStyle(14px, 400, rgba(61, 71, 91, 0.64), 18px);
        text-align: center;
        max-width: 80%;
        margin-left: 10%;
    }
    .workspaceCta {
        @include fontStyle(14px, 500, #17B197, 20px);
        text-align: center;
        margin-top: 100px;
        opacity: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        /*transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
        bottom: 45px;*/
    }
    .bottomSection {
        height: 100%;
        .ninjaWave {
            background-image: url(images/ninjaWave.png);
            height: 110px;
            background-size: cover;
            background-position: bottom;
        }
        .content {
            background-color: #ffffff;
            height: 100%;
            margin-top: -2px;
        }
    }
}

.slideFromBottomCls {
    @include animation(0.4s, 0.7s, slideFromBottom);
}

@include keyframe(slideFromBottom) {
    0% {
        margin-top: 100%;
    }
    100% {
        margin-top: 0;
    }
}

@include keyframe(scaleZeroToOne) {
    0% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}