<div>
    <div class="title"> Add your face and text</div>
    <div class="customImage" uploadUrl="{{#isFailedState}} {{url}}{{/isFailedState}}" style="{{#isFailedState}}background-image:url({{url}}) {{/isFailedState}}">
    </div>
    <input class="customText" type='text' placeholder="type something" value="{{#isFailedState}}{{phrase}}{{/isFailedState}}" />
    <div class="charLimit">
        <div class="userInput inlineBlock">{{#isFailedState}} {{phraseLength}} {{/isFailedState}} {{^isFailedState}}0{{/isFailedState}} </div>
        <div class="allowedInput inlineBlock">/{{textLength}} </div>
    </div>
    {{#isFailedState}}
    <div class="reason"> {{reason}}
    </div>
    {{/isFailedState}}
    <div class="customCta createSticker">Done
    </div>
    <div class="learnMore">Learn More
    </div>
</div>
<div class="customOverlay hideClass">
    <div class="contentInfo">
        <div class="titleOverlay"> Add your face and text</div>
        <ul>
            <li> test1 </li>
            <li> test1 </li>
            <li> test1 </li>
            <li> test1 </li>
        </ul>
        <div class="overlayCta">Done</span>
        </div>
    </div>
</div>