<div class="customCreateWrapper">
    <div class="scrollContent">
        <div class="title align-center"> Add your selfie and your phrase</div>
        {{#isFailedState}}
        <div class="reason"> {{reason}}
        </div>
        {{/isFailedState}}
        <div class="customImage">
            <div class="cameraIcon">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="32px" height="27px" viewBox="0 0 32 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                    <title>Page 1</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Rewards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="02---creating" transform="translate(-164.000000, -250.000000)" fill="#FFFFFF">
                            <g id="Group-3" transform="translate(64.000000, 199.000000)">
                                <g id="Group-2" transform="translate(52.000000, 0.000000)">
                                    <g id="Group-10">
                                        <g id="Page-1" transform="translate(48.000000, 51.000000)">
                                            <path d="M16.0018,9.0064 C14.3678,9.0064 12.7438,9.6994 11.5978,11.0494 C9.5128,13.5024 9.7928,17.1964 12.2258,19.2984 C13.3198,20.2444 14.6628,20.7074 15.9978,20.7074 C17.6328,20.7074 19.2568,20.0144 20.4028,18.6644 C22.4868,16.2124 22.2058,12.5174 19.7748,10.4154 C18.6808,9.4694 17.3378,9.0064 16.0018,9.0064 M16.0018,11.0064 C16.9038,11.0064 17.7788,11.3344 18.4668,11.9294 C20.0678,13.3124 20.2528,15.7534 18.8788,17.3694 C18.1568,18.2194 17.1068,18.7074 15.9978,18.7074 C15.0968,18.7074 14.2218,18.3804 13.5338,17.7854 C11.9328,16.4014 11.7478,13.9614 13.1228,12.3434 C13.8438,11.4944 14.8938,11.0064 16.0018,11.0064" id="Fill-1"></path>
                                            <path d="M21,0 L11,0 C9.768,0 8.674,0.731 8.214,1.863 L7.41,3.85 C7.057,4.721 6.27,5.348 5.333,5.502 L2.509,5.967 C1.055,6.205 0,7.434 0,8.889 L0,23.704 C0,25.34 1.343,26.667 3,26.667 L29,26.667 C30.657,26.667 32,25.34 32,23.704 L32,8.889 C32,7.434 30.945,6.205 29.492,5.967 L26.914,5.543 C25.824,5.363 24.907,4.634 24.497,3.621 L23.785,1.862 C23.326,0.731 22.232,0 21,0 M21,2 C21.421,2 21.778,2.235 21.931,2.612 L22.643,4.371 C23.311,6.02 24.823,7.225 26.589,7.516 L29.169,7.941 C29.658,8.021 30,8.411 30,8.889 L30,23.704 C30,24.235 29.551,24.667 29,24.667 L3,24.667 C2.449,24.667 2,24.235 2,23.704 L2,8.889 C2,8.411 2.342,8.021 2.834,7.941 L5.658,7.475 C7.272,7.209 8.654,6.108 9.264,4.601 L10.067,2.616 C10.221,2.236 10.579,2 11,2 L21,2" id="Fill-3"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="align-center">
            <input class="customText" type='text' placeholder="type something" />
        </div>
        <div class="charLimit">
            <div class="userInput inlineBlock">0 </div>
            <div class="allowedInput inlineBlock">/{{textLength}} </div>
        </div>
        <div class="align-center">
            <div class="customCta createSticker zeroOpacity">Done
            </div>
        </div>
    </div>
    <div class="learnMore">What makes a great sticker?<u>Tap to Learn More</u>
    </div>
</div>
<div class="customOverlay hideClass">
    <div class="contentInfo">
        <div class="titleOverlay"> How to send a custom sticker?</div>
        <ul>
            <li><span> Always send a coloured picture with your front facing the camera. </span></li>
            <li><span> Don’t send any blurry pictures. </span> </li>
            <li><span> Don’t send small pictures with cut off head, body or hair. </span> </li>
            <li><span> Don’t send pictures without the phrase. </span> </li>
            <li><span> Don’t send pictures with more than one person in it. </span></li>
            <li><span> Don't send pictures with filters applied on them. Should be in natural lighting. </span></li>
        </ul>
        <div class="overlayCta">GOT IT</span>
        </div>
    </div>
</div>
