<div>

	<div class="title"> Add your face and text</div>

	<div class="customImage">  Image</div>

	<div class="subtitle"> SUBTITLE</div>

	<input class="customText" type='text' placeholder="type something"/> 


	<div class="subtitle"> char limit : <span class="charCount"> 16</span></div>

	<div class="customCta hideclass">Done</span></div>


	<div class="leanrMore">Learn More</span></div>


</div>


<div class="customOverlay hideClass">

	<div class="titleOverlay"> Add your face and text</div>

	<ul>
		<li> test1 </li>
		<li> test1 </li>
		<li> test1 </li>
		<li> test1 </li>
	</ul>

	<div class="overlayCta">Done</span></div>



</div>