<div class="exclusiveFeatureWrapper centerToScreenWrapper">
    <div class="exclusiveFeatureHeader">
        <div class="exclusiveFeatureTitle">{{rewardTitle}}</div>
        <div class="exclusiveFeatureSubtitle hideClass"></div>
    </div>
    <div class="exclusiveFeatureBody">
        <div class="exclusiveFeatureIllustration"></div>
        <div class="exclusiveFeatureDescription">{{rewardSubtitle}}</div>
        <div class="align-center">
            <div class="exclusiveFeatureAction">GET IT</div>
        </div>
    </div>
</div>
