<li class="infoRow  row1">
    <div class="infoIcon giftIcon"></div>
    <div class="infoDetails">
        <p class="infoHeading">Cool Gifts</p>
        <p class="infoSubHeading">Get some really cool, exclusive content and features no one else has.</p>
    </div>
</li>
<li class="infoRow row2">
    <div class="infoIcon statIcon"></div>
    <div class="infoDetails">
        <p class="infoHeading">Know your Hike Stats</p>
        <p class="infoSubHeading">Check out your daily Hike Stats and brag among your friends.</p>
    </div>
</li>
<li class="infoRow row3">
    <div class="infoIcon surpriseGiftIcon"></div>
    <div class="infoDetails">
        <p class="infoHeading">Surprise Gifts</p>
        <p class="infoSubHeading">Win a surprise gift every day!</p>
    </div>
</li>
<!-- <li class="infoRow row4">
    <div class="infoIcon moreIcon"></div>
    <div class="infoDetails">
        <p class="infoHeading">More</p>
        <p class="infoSubHeading">Get and exclusive Ninja badge which lets your profile stand out.</p>
    </div>
</li> -->
<div class="align-center">
    <div class="ftueCta workspaceCta" data-screen="ftue"> WOW! LET’S GO</div>
</div>
