<div class="jflContainer">
    <div class="title">Just For Laughs</div>
    <div class="uploadJflFtueContainer">
        <div class="uploadJflFtue"> </div>
    </div>
    <div class="jflImage hideClass imageElement">
        <div class="replacePhotoCta inlineBlock">
            <div class="uploadContainer">
                <span class="uploadIllustration"> </span>
                <span class="replaceCtaText"> REPLACE </span>
            </div>
        </div>
    </div>
    <div class="jflNote"> Don’t send any inappropriate content, or it won’t be published.</div>
    <div class="align-center">
        <div class="uploadIcon">Add Image</div>
    </div>
</div>
<div class="jflCtaContainer hideClass">
    <div class="sendJflCta inlineBlock"> SEND </div>
</div>
<div class="centerToScreenContainer">
    <div class="successCard centerToScreenWrapper hideClass">
        <div class="successTitle">Success! </div>
        <div class="successIcon"> </div>
        <div class="successSubtitle">Thanks for submitting, we’ll notify you after your image ready to published in Just For Laugh. </div>
        <div class="align-center">
            <div class="successCta">Add New</div>
        </div>
    </div>
</div>
