<div class="jflContainer">
    <div class="uploadIcon"> </div>
    <div class="title">Tap to add funny image </div>
    <div class="jflImage hideClass imageElement">
        <div class="replacePhotoCta inlineBlock">
            <div class="uploadContainer">
                <span class="uploadIllustration"> </span>
                <span class="replaceCtaText"> REPLACE PHOTO </span>
            </div>
        </div>
    </div>
    <div class="jflNote"> Don’t send any inappropriate image, or it won’t be published.</div>
</div>
<div class="jflCtaContainer hideClass">
    <div class="sendJflCta inlineBlock"> SEND </div>
</div>
<div class="successCard hideClass">
    <div class="successIcon"> </div>
    <div class="successTitle">Success! </div>
    <div class="successSubtitle">Thanks for submitting, we’ll notify you after your image ready to published in Just For Laugh. </div>
    <div class="successCta">Add Another Image</div>
</div>