{{#mysterBoxReward}}
<div class="mysteryBoxWrapper centerToScreenWrapper">
    <div class="mysteryBoxScr_title animation_fadein">You win!</div>
    <div class="mysteryBoxIcon giftBoxAnimCls">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg width="204px" height="164px" viewBox="0 0 204 164" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="35" y="40" width="131" height="36" rx="4"></rect>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                    <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0833333333 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-3" x="95" y="40" width="11" height="36"></rect>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
                    <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.101845562 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Mystery-Box" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard">
                    <g id="Group-7" transform="translate(2.000000, 3.000000)">
                        <rect id="Rectangle-3" fill="#F8D64C" x="41" y="40" width="119" height="119" rx="10"></rect>
                        <g id="Rectangle-5">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <rect id="Rectangle-6" fill="#F55E69" x="95" y="38" width="11" height="121"></rect>
                        <path d="M111.849187,41.8545735 C111.849187,41.8545735 95.7072557,12.7687127 115.707256,12.7687127 C135.707256,12.7687127 111.849187,41.8545735 111.849187,41.8545735 Z" id="Path-2" stroke="#F56E77" stroke-width="7" transform="translate(114.695082, 27.311643) rotate(41.000000) translate(-114.695082, -27.311643) "></path>
                        <path d="M83.637703,42.6506137 C83.637703,42.6506137 69.1388284,13.461478 89.1388284,13.461478 C109.138828,13.461478 83.637703,42.6506137 83.637703,42.6506137 Z" id="Path-2" stroke="#F56E77" stroke-width="7" transform="translate(87.677658, 28.056046) scale(-1, 1) rotate(41.000000) translate(-87.677658, -28.056046) "></path>
                        <circle id="Oval-3" stroke="#EE5B66" stroke-width="4" cx="9.5" cy="89.5" r="9.5"></circle>
                        <circle id="Oval-3" stroke="#F8D64C" stroke-width="4" cx="169.5" cy="9.5" r="9.5"></circle>
                        <circle id="Oval-3" stroke="#00C3E2" stroke-width="2" cx="195.25" cy="105.25" r="5.25"></circle>
                        <g id="Rectangle-10">
                            <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                            <use fill="#F55E69" fill-rule="evenodd" xlink:href="#path-3"></use>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="mysteryBoxScr_subtitle animation_fadein">Wow! Today is your lucky day. Tap to open your gift.</div>
</div>
{{/mysterBoxReward}}
