<div class="mysteryBox_CrossIcon spinScr_Cross hideClass"> </div>
<div class="mysteryBoxScr_title spinScrTitle">Daily Surprise!</div>
<div class="wheel-wrapper">
    <div id="spin" class="spin">SPIN</div>
    <div class="needle"></div>
    <div id="wheel" class="wheel">
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="8" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="7" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="6" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="5" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="4" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="3" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="2" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="1" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mysteryBoxScr_subtitle spinScrSubtitle">Spin to get a surprise gift. Only a lucky few will get one every day!</div>
