<div class="mysteryBox_CrossIcon retryScr_Cross hideClass"> </div>
<div class="mysteryBoxWrapper centerToScreenWrapper">
    <div class="mysteryBoxScr_title retryTitle">Better Luck Next Time!</div>
    <div class="mysteryBoxRetryIcon"></div>
    <div class="mysteryBoxScr_subtitle retrySubtitle">Don’t worry, fortune favors the brave. Keep trying!</div>
    <div class="align-center">
        <div class="ctaWinner retryCta">Who won today?</div>
    </div>
</div>
<div class="mOverlay hideClass"> </div>
{{#previousWinner}}
<div class="previousWinnerRow align-center">
    <div class="winnerWrapper">
        <div class="winnerIcon leftWrapper"></div>
        <div class="rightWrapper">
            <div class="winnerName">{{previousWinner.name}}</div>
        </div>
    </div>
    <p class="previousWinnerHeading">If you win, everyone will get to know about it too.</p>
</div>
{{/previousWinner}}
