<div class="mysteryBox_CrossIcon spinScr_Cross hideClass"> </div>
<div class="mysteryBoxScr_title spinScrTitle">Daily Surprise!</div>
<div class="wheel-wrapper">
    <div id="spin" class="spin">SPIN</div>
    <div class="needle">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg width="24px" height="44px" viewBox="0 0 24 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="7.77 15.7099859 12.95 15.7099859 10.2284782 41.5554467"></polygon>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                    <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.48 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <path d="M0.278499298,0.980868863 C0.124688383,0.439149949 0.452036172,0 1.01339493,0 L19.7066051,0 C20.2662876,0 20.5970635,0.432979861 20.4415007,0.980868863 L15.8184993,17.2629858 C15.6646884,17.8047047 15.0948438,18.2438546 14.5277766,18.2438546 L6.19222341,18.2438546 C5.63318786,18.2438546 5.0570635,17.8108748 4.9015007,17.2629858 L0.278499298,0.980868863 Z" id="path-3"></path>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
                    <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.11107337 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Mystery-Box" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard-3">
                    <g id="spinner-pin" transform="translate(2.000000, 1.000000)">
                        <g id="Rectangle-1575">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <g id="Rectangle-1574">
                            <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div id="wheel" class="wheel">
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="8" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="7" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="6" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="5" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="4" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="3" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="2" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
        <div class="cutter">
            <div class="slicer">
                <div class="part" data-slice="1" data-reward="">
                    <div class="mBoxRewardIcon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mysteryBoxScr_subtitle spinScrSubtitle">Spin to get a surprise gift. Only a lucky few will get one every day!</div>
