<div class="mysteryBox_CrossIcon retryScr_Cross hideClass"> </div>
<div class="mysteryBoxWrapper centerToScreenWrapper">
    <div class="mysteryBoxScr_title retryTitle">Better Luck Next Time </div>
    <div class="mysteryBoxRetryIcon"></div>
    <div class="mysteryBoxScr_subtitle retrySubtitle">Don’t worry, lets get back tomorrow and see what you win.</div>
    <div class="align-center">
        <div class="ctaWinner retryCta">Who won today?</div>
    </div>
</div>
<div class="mOverlay hideClass"> </div>
{{#previousWinner}}
<div class="previousWinnerRow align-center">
    <div class="winnerWrapper">
        <div class="winnerIcon leftWrapper"></div>
        <div class="rightWrapper">
            <div class="winnerName">{{previousWinner.name}}</div>
        </div>
    </div>
    <p class="previousWinnerHeading">Your profile also shown here to others, when you win some exciting prize.</p>
</div>
{{/previousWinner}}
