<div class="batteryCriticalAnimation centerToScreenContainer hideClass">
    <div class="batteryCritical_crossIcon"> </div>
    <div class="batteryCriticalWrapper">
        <div class="batteryDangerHeading"></div>
        <div class="batteryDangerIcon"></div>
        <div class="batteryDangerDescription"></div>
    </div>
</div>
<!-- Full Screen Popup For Battery/Streak Explanation -->
<div class="batteryStreakInfoContainer centerToScreenContainer hideClass">
    <div class="blurScreen">
        <div class="centerToScreenWrapper">
            <div class="streakInfoWrapper">
                <div class="streakInfoContainer">
                    <div class="streakContainerInfo">
                        <div class="streakValueInfo">{{ninjaProfile.streak}}</div>
                        <div class="streakStatusContainerInfo">
                            <div class="streakIconInfo"></div><span class="streakDefInfo">Days</span>
                        </div>
                    </div>
                    <p class="dayHeading">Ninja Days</p>
                    <p class="dayInformation">This is the number of days you’ve been a Ninja for. Continue being a Ninja every day to go higher and get more awesome gifts.</p>
                </div>
                <hr class="infoSep" noshade>
                <div class="batteryInfoWrapper">
                    <div class="batteryIconContainer">
                    </div>
                    <div class="batteryHeading">Ninja Life - {{ninjaProfile.battery}} days remaining</div>
                    <p class="batteryInformation">You’re going to reaming a Ninja for X more days. Keep loving and using hike with your best friends to be a Ninja for more days and get more awesome gifts.</p>
                </div>
                <div class="informationAction">Got It</div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Popup for days unlock -->
<div class="rewardUnlockAnimation centerToScreenContainer">
    <div class="rewardUnlockContainer">
        <div class="dayDef">Day {{ninjaProfile.streak}}</div>
        <div class="streakValueContainer">
            <div class="rewardUnlockStreakIcon"></div>
            <div class="rewardUnlockStreakValue">{{ninjaProfile.streak}}</div>
        </div>
    </div>
</div>
<!-- Home Screen For Ninja Micro app -->
<div class="ninjaHomeContainer">
    <div class="profileContainer clearfix">
        <div class="ninjaProfileInfo">
            <div class="streakContainer">
                <div class="streakValue">{{ninjaProfile.streak}}</div>
                <div class="streakStatusContainer">
                    <div class="streakIcon"></div><span class="streakDef">Days</span>
                    <div class="streakStatus"></div>
                </div>
            </div>
            <div class="mysteryBoxAvailable hideClass"></div>
            <div class="ninjaDpContainer">
                <div class="myProfileNotif hideClass"></div>
                <div class="ninjaDp"></div>
            </div>
        </div>
    </div>
    <div class="ninjaBottomContainer">
        <div class="ninjaWave"></div>
        <div class="ninjaRewards">
            <div class="unlockedReward hideClass">
                <p class="unlockedRewardHeading">Unlocked Gifts</p>
                <div class="unlockedRewardListContainer">
                    <ul class="unlockedRewardList">
                        {{#ninjaUnlockedRewards}}
                        <li class="unlockedRewardListItem newRewardAppearAnimation upcoming{{state}}card" data-rewardId="{{id}}" data-state="{{state}}" data-rewardtype="{{type}}">
                            <div class="unlockedRewardHeader">
                                <div class="unlockedRewardIcon"></div>
                                <div class="unlockedRewardStreak">{{streak}}</div>
                            </div>
                            <div class="unlockedRewardDetails">
                                <p class="uRewardHeading">{{title}}</p>
                                <p class="uRewardSubheading">{{stitle}}</p>
                            </div>
                            {{#state}}
                            <div class="unlockedRewardAction">Get It now</div>
                            {{/state}} {{^state}}
                            <div class="unlockedRewardAction">Learn More</div>
                            {{/state}}
                        </li>
                        {{/ninjaUnlockedRewards}}
                    </ul>
                </div>
            </div>
            <div class="lockedRewards">
                <p class="lockedRewardHeading">Upcoming Gifts</p>
                <div class="lockedRewardListContainer">
                    <ul class="lockedRewardList">
                        {{#ninjaLockedRewards}}
                        <li class="rewardRow lockedRewardListItem" data-rewardId="{{id}}" data-state="{{state}}" data-rewardtype="{{type}}">
                            <div class="rewardIcon"></div>
                            <div class="rewardDetails">
                                <p class="rewardHeading {{^state}}{{#lockedGreyout}}rewardHeadingLocked{{/lockedGreyout}}{{/state}}">{{title}}</p>
                                <p class="rewardSubheading {{^state}}{{#lockedGreyout}}rewardSubheadingLocked{{/lockedGreyout}}{{/state}}">{{stitle}}</p>
                            </div>
                            {{#streak}}
                            <div class="rewardStreakWrapper">
                                <div class="rewardStreakIcon"></div>
                                <div class="rewardStreakValue">{{streak}}</div>
                            </div>
                            {{/streak}}
                        </li>
                        {{/ninjaLockedRewards}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mysteryBoxAvailable hideClass">
    <div class="mBoxToastIconContainer">
        <div class="mysteryBoxToastIconBig"></div>
        <div class="mysteryBoxToastIconSmall"></div>
    </div>
    <div class="mysteryBoxToastText">
        Your lucky box is ready
    </div>
    <div class="mysteryBoxToastAction">Spin now</div>
</div>
