<div class="ugcWrapper">
    <div class="quoteCardParentContainer">
        <div class="quoteCardContainer imageElement">
            <div class="cardOverlay hideClass"></div>
            <div class="quoteCard">
                <div class="quoteName" contenteditable="true" placeholder="Tap here to type your {{#isQuote}} Quote {{/isQuote}} {{^isQuote}} Fact {{/isQuote}}"></div>
                <div class="quoteAuthor {{^isQuote}}hideClass{{/isQuote}}" contenteditable="true" placeholder="— Type Author Name">{{^isQuote}} author{{/isQuote}}</div>
            </div>
            <div class="quoteChar">
                <div class="userInput inlineBlock">0 </div>
                <div class="allowedInput inlineBlock">/{{length}} </div>
            </div>
        </div>
    </div>
    <div class="addPhotoCta hideClass">
        <div class="addPhotoContainer">
            <span class="addPhotoIllustration"> </span>
            <span class="addPhotoText"> ADD {{#isQuote}} AUTHOR {{/isQuote}} {{^isQuote}} SUPPORTING {{/isQuote}} IMAGE </span>
        </div>
    </div>
    <div class="cardNote">
        Please submit something which everyone will like.
    </div>
    <div class="cta disabled">
        NEXT
    </div>
    <div class="ctaContainer hideClass">
        <div class="sendCta inlineBlock"> SEND </div>
    </div>
    <div class="centerToScreenContainer lowerZIndex">
        <div class="successCard centerToScreenWrapper hideClass">
            <div class="successTitle">Thanks!</div>
            <div class="successIcon"> </div>
            <div class="successSubtitle">Thanks for submitting, we’ll let you know if your {{#isQuote}} Quote {{/isQuote}} {{^isQuote}} Fact {{/isQuote}} is published. </div>
            <div class="align-center">
                <div class="successCta">Submit More</div>
            </div>
        </div>
    </div>
</div>
