<div class="stateContainer centerToScreenWrapper">
    <div class="stateTitle align-center"> {{title}}</div>
    <div class="stateIcon" style="background-image:url({{url}});"> </div>
    <div class="stateProgress align-center hide" data-per="{{per}}">Progress -> {{per}} </div>
    <div class="stateSubtitle align-center"> {{subtitle}}</div>
    {{#cta}}
    <div class="align-center">
        <div class="stateCta" data-link="{{cta.link}}" data-title="{{cta.title}}"> {{cta.text}}</div>
    </div>
    {{/cta}}
</div>
