<div class="subscribeScreen screenCls">
    <div class="centreIcon backgroundImageGeneric scaleZeroToOneAnim"> </div>
    <div class="title_subscribe"> Congratulations! </div>
    <div class="bottomSection slideFromBottomCls">
        <div class="ninjaWave backgroundImageGeneric"> </div>
        <div class="content">
            <div class="info"> You’ve been one of our top user unlocking some really exclusively stuff.</div>
            <div class="subscribeCta workspaceCta" data-screen="subscribe"> SHOW ME</div>
        </div>
    </div>
</div>