<div class="subscribeScreen screenCls">
    <div class="crossIcon backgroundImageGeneric"> </div>
    <div class="title_subscribe"> Congratulations! </div>
    <div class="subtitle_subscribe"> You’re a Hike Ninja now </div>
    <div class="centreIcon backgroundImageGeneric scaleZeroToOneAnim"> </div>
    <div class="bottomSection slideFromBottomCls">
        <div class="ninjaWave backgroundImageGeneric"> </div>
        <div class="content">
            <div class="info"> You’ve been one of our top user. You have unlocked some really cool stuff which is exclusively for you.</div>
            <div class="subscribeCta workspaceCta" data-screen="subscribe"> SHOW ME</div>
        </div>
    </div>
</div>