<div class="subscribeScreen screenCls">
    <div class="centreIcon backgroundImageGeneric scaleZeroToOneAnim"> </div>
    <div class="title_subscribe"> Congratulations! </div>
    <div class="bottomSection slideFromBottomCls">
        <div class="ninjaWave backgroundImageGeneric"> </div>
        <div class="content">
            <div class="info">You’re one of our top users! Here are some really cool exclusive gifts available only for you!</div>
            <div class="align-center">
                <div class="subscribeCta workspaceCta" data-screen="subscribe"> SHOW ME</div>
            </div>
        </div>
    </div>
</div>
